<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->

<configuration>
  <configSections>
    <!-- begin section for Security Manager -->
    <section name="OMS" type="LibertyPower.Business.CommonBusiness.SecurityManager.CustomSettingsManager, SecurityManager" />
  </configSections>
  <!-- begin section for Security Manager -->
  <OMS ADUserName="webappauth_svc" ADPassword="P@55@uthen" ADDomain="libertypower.local" FrameworkAccountName="FrameworkAccount" FrameworkAccountID="1" OMSRoles="RCM_ADMIN, RCM_USER" />
  <!-- end section for Security Manager -->
  <appSettings>
   
    <add key="EcmUserListRole" value="EcmUsers" />

    <add key="FileManagerRoot" value="\\lpcnocfs1\FileManager\ExecutedContracts\" />
		<add key="FileManagerTempFolder" value="\\lpcnocfs1\FileManager\ExecutedContractsCache\" />
		<add key="FileManagerContextKey" value="OMFileManager" />
		<add key="MaxFilesInPath" value="500" />
    
		<!-- RAD PDF Required entry -->
    <add key="RadPdfLicenseKey" value="dj3ZWjD7U0pn3XZo0L9fuOeHemhftbq7R0W4buhCvobetRm9B9i3u8uGOe+Y5cpOZiS5Bw1DasB6rWgKqw/AnHRssFsy525EuLW98oNVvwKz1/mSZA6sxJ9UxFZcAAFl3pAxN7tEy/2aHp/wLuSwjjdPuNB8GMqS8bTTakvlppkAAgEAAAAAAIbrIAveGNFIhqvng6830khMaWJlcnR5IFBvd2VyIENvcnA="/>
    <add key="RadPdfConnectionString" value="Data Source=SqlIntProd;Initial Catalog=OrderManagement;UID=sa;pwd=Sp@c3ch@1r" />

	<!-- END RAD PDF Required entry -->
<remove key="DocumentRepositoryWebService" />
    <!-- <add key="DocumentRepositoryWebService" value="http://lpcnocws4:83/DocumentRepository/DocumentRepository.asmx" /> -->

	<add key="DocumentRepositoryWebService" value="http://sqlprod:83/proddocumentrepository/documentrepository.asmx" />

    <add key="DealCaptureExpressBaseUrl" value="https://enrollment.libertypowercorp.com/proddealcapture/" />

    <add key="ExecutedContractsRejectionEmailList" value="jforero@libertypowercorp.com" />

    <!-- Settings Specific to document converter API -->
    <add key="DocConverterInputFolder" value="D:\ExecutedContractFiles\DocumentManagementInput\" />
    <add key="DocConverterOutputFolder" value="D:\ExecutedContractFiles\DocumentManagementOutput\" />
    <!-- END Settings Specific to document converter API -->

    <!-- Settings Specific to Email Client API -->
    <add key="EmailClientUserId" value="inf57monitor" />
    <add key="EmailClientPassword" value="Orange123" />
    <add key="EmailClientUserCompleteEmail" value="inf57monitor@libertypowercorp.com" />
    <add key="EmailClientDomain" value="Libertypower" />
    <add key="EmailClientServerName" value="lpcnocmx1.libertypower.local" />
    <add key="EmailClientInboxPath" value="InProgress" />
    <!-- END Settings Specific to Email Client API -->

    <add key="ConnectionString" value="Data Source=SqlIntProd;initial catalog=lp_deal_capture;user=sa;password=Sp@c3ch@1r;timeout=3600" />

	<!-- Settings for Windows service monitoring -->
	
    <add key="DocumentConverterServiceMachine" value="lpcnocws3" />
    <add key="EmailMonitorServiceMachine" value="lpcnocws3" />
    <add key="PdfViewerServiceMachine" value="" />
	
	<!-- END Settings for Windows service monitoring -->
    <add key="EnableRoles" value="True" />

  </appSettings>
  <connectionStrings>
		<add name="LibertyPower.DataAccess.SqlAccess.OrderManagementLinqDal.Properties.Settings.OrderManagementConnectionString" connectionString="Data Source=SqlIntProd;Initial Catalog=OrderManagement;UID=sa;pwd=Sp@c3ch@1r;" providerName="System.Data.SqlClient" />

    <add name="DealCapture" connectionString="Data Source=SqlIntProd;Initial Catalog=lp_deal_Capture;UID=sa;pwd=Sp@c3ch@1r;"/>

    <add name="MSDB" connectionString="Data Source=SqlIntProd;Initial Catalog=MSDB;UID=sa;pwd=Sp@c3ch@1r;" providerName="System.Data.SqlClient"/>



  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Telerik.Web.UI, Version=2013.3.1114.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="RadPdf.axd" verb="GET,POST" type="RadPdf.Web.HttpHandler.PdfHttpHandler" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <!--<add path="RadPdf.axd" verb="GET,POST" name="RadPdfHandler" type="RadPdf.Web.HttpHandler.PdfHttpHandler" />-->
	   <add path="RadPdf.axd" verb="GET,POST" name="RadPdfHandler" type="RadPdf.Web.HttpHandler.PdfHttpHandler" />

    </handlers>
        <defaultDocument>
            <files>
                <add value="OrderManagement.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
