<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <remove name="LibertyPower" />
    <remove name="Transactions" />
    <remove name="Common" />
    <remove name="OfferEngine" />
    <remove name="Ista" />
    <remove name="ERCOT" />
    <remove name="MSDB" />
    <remove name="SQL9" />
    <remove name="Account" />
    <remove name="DealCapture" />
    <remove name="Enrollment" />
    <add name="LibertyPower" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Transactions" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="LibertyPowerConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="LP_CommonConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="LP_TransactionsConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="Common" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="OfferEngine" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Ista" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ISTA;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ERCOT" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ERCOT;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="MSDB" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_commissions;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SQL9" connectionString="Data Source=LPCNOCSQL9\TRANSACTIONS;Initial Catalog=Ecl;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Account" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_account;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="LP_AccountConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_account;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DealCapture" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Enrollment" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;Integrated Security=SSPI; " providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringNameLpTransactions" value="LP_TransactionsConnectionString" />
    <add key="ConnectionStringNameLpCommons" value="LP_CommonConnectionString" />
    <!--Poll Interval value is in milli seconds-->
    <add key="PollInterval" value="5000" />
    <!-- ISTA Web Service -->
    <add key="IstaClientGuid" value="153CED9F-F788-4D0D-B5AE-9D5C28BB261F" />
    <add key="ISTA_WEB_SERVICE_URL" value="http://ua.ws.libertypowerbilling.com/api/Enrollment.asmx" />
    <add key="IstaCustomerWebService" value="http://ua.ws.libertypowerbilling.com/CustomerService.asmx" />
    <add key="IstaEnrollmentWebService" value="http://ua.ws.libertypowerbilling.com/EnrollmentService.asmx" />
    <add key="IstaInvoiceWebService" value="http://ua.ws.libertypowerbilling.com/InvoiceService.asmx" />
    <add key="IstaRateWebService" value="http://ua.ws.libertypowerbilling.com/RateService.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UseESGForUsageRequest" value="1"/>
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="Chainsaw" name="viewer" address="udp://127.0.0.1:9000">
        <parameter layout="${message}" name="Message" />
        <parameter layout="${exception:format=tostring}" name="Exception" />
        <parameter layout="${stacktrace}" name="StackTrace" />
      </target>
      <target xsi:type="UsageEvents" name="UsageEvents" layout="${longdate} ${uppercase:${level}} ${message}" />
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}${newline} ${exception:innerFormat=Message:maxInnerExceptionLevel=10:format=Message}${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=10:format=StackTrace}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" encoding="iso-8859-2" autoFlush="true" archiveAboveSize="300000" archiveNumbering="Sequence" ConcurrentWrites="false">
      </target>
    </targets>
    <rules>
      <!--Levels in order: Trace,Debug,Info,Warn,Error,Fatal,Off-->
      <logger name="*" minlevel="Trace" writeTo="viewer" />
      <logger name="*" minLevel="Error" appendTo="file" />
      <logger name="*" minLevel="Debug" appendTo="file" />
      <logger name="*" minLevel="Info" appendTo="file" />
      <logger name="*" minlevel="Trace" writeTo="UsageEvents" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataRequest" />
        <binding name="BasicHttpBinding_IAccounts" />
        <binding name="BasicHttpBinding_IDataSynchronization" />
       <binding name="BasicHttpBinding_IRequest"   />
        <binding name ="BasicHttpBinding_IRequest"/>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://online.libertypowercorp.com:7000/DataRequest.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataRequest" contract="CrmDataRequestService.IDataRequest" name="BasicHttpBinding_IDataRequest" />
      <endpoint address="http://lpcnocwsgamma1:8081/Accounts/v1" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccounts" contract="OfferEngineAccountsService.IAccounts" name="BasicHttpBinding_IAccounts" />
      <endpoint address="http://lpcnocws4:88/DataSynchronization.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSynchronization" contract="DataSynchronizationServiceReference.IDataSynchronization" name="BasicHttpBinding_IDataSynchronization" />
      <endpoint address="http://lpcnocws4:8077/Request.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequest" contract="IRequest" name="BasicHttpBinding_IRequest" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>