USE [Libertypower]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateConsolidatedUsage]    Script Date: 02/09/2016 11:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************    
 * USP_UPDATECONSOLIDATEDUSAGE    
 * UPDATE METER READ RECORD FOR ONE RECORD    
 *    
 * HISTORY    
 *  04/04/2012 (EP) - LATEST COPY OF PRODUCTION..    
 *  04/05/2012 (EP) - CHECKING WHETHER THE NEW INVALIDATED RECORD IS ALREADY IN THE TABLE..    
 *  11/20/2012 1-38306611 - PROVIDING PERMANENT SOLUTION TO DUPLICATE KEY ERROR MESSAGE    
 *      3/10/2014 TFS:26420(JIKKU) - CHANGED THE HANDLING WHERE THE INACTIVE RECORD ALREADY EXISTS    
 *******************************************************************************    
 * 12/03/2010 - EDUARDO PATINO    
 * CREATED.    
 *    
 *******************************************************************************    
 */  
ALTER PROCEDURE [dbo].[usp_UpdateConsolidatedUsage] @ID BIGINT  
 ,@ACCOUNTNUMBER VARCHAR(50)  
 ,@UTILITYCODE VARCHAR(50)  
 ,@USAGESOURCE INT  
 ,@USAGETYPE INT  
 ,@FROMDATE DATETIME  
 ,@TODATE DATETIME  
 ,@TOTALKWH INT  
 ,@DAYSUSED INT  
 ,@METERNUMBER VARCHAR(50) = NULL  
 ,@ONPEAKKWH DECIMAL(15, 6) = NULL  
 ,@OFFPEAKKWH DECIMAL(15, 6) = NULL  
 ,@BILLINGDEMANDKW DECIMAL(15, 6) = NULL  
 ,@MONTHLYPEAKDEMANDKW DECIMAL(15, 6) = NULL  
 ,@INTERMEDIATEKWH DECIMAL(15, 6) = NULL  
 ,@MONTHLYOFFPEAKDEMANDKW DECIMAL(15, 6) = NULL  
 ,@MODIFIED DATETIME  
 ,@ACTIVE SMALLINT  
 ,@REASONCODE SMALLINT  
AS  
/*  
EXEC [USP_UPDATECONSOLIDATEDUSAGE_back25] @ID =34213195  
 ,@ACCOUNTNUMBER ='00040621064995593'  
 ,@UTILITYCODE ='CSP'  
 ,@USAGESOURCE =0  
 ,@USAGETYPE =1  
 ,@FROMDATE ='9/18/2014'  
 ,@TODATE ='10/20/2014'  
 ,@TOTALKWH =5680  
 ,@DAYSUSED =33  
 ,@METERNUMBER ='216604792'  
 ,@ACTIVE =1  
 ,@MODIFIED='9/18/2014'  
 ,@REASONCODE =8  
  
*/  
  
/*    
SELECT * FROM SYS.PROCEDURES WHERE NAME = 'USP_UPDATECONSOLIDATEDUSAGE'    
SELECT * FROM USAGECONSOLIDATED (NOLOCK) WHERE ACCOUNTNUMBER = '627882002' ORDER BY 6 DESC    
    
DECLARE @ID      BIGINT,    
 @ACCOUNTNUMBER   VARCHAR(50),    
 @UTILITYCODE   VARCHAR(50),    
 @USAGESOURCE   INT,    
 @USAGETYPE    INT,    
 @FROMDATE    DATETIME,    
 @TODATE     DATETIME,    
 @TOTALKWH    INT,    
 @DAYSUSED    INT,    
 @ACTIVE     SMALLINT,    
 @REASONCODE    SMALLINT    
SET @ID      = 15184631    
SET @ACCOUNTNUMBER   = '3640252047'    
SET @UTILITYCODE   = 'COMED'    
SET @USAGESOURCE   = 0    
SET @USAGETYPE    = 1    
SET @FROMDATE    = '12/14/2011'    
SET @TODATE     = '1/18/2012'    
SET @TOTALKWH    = 2683    
SET @DAYSUSED    = 36    
SET @ACTIVE     = 0    
SET @REASONCODE    = 10    
    
*/  
BEGIN  
 SET NOCOUNT ON;  
 -- DECLARE @ESTIMATE SMALLINT    
 -- SELECT @ESTIMATE = VALUE FROM USAGETYPE WHERE DESCRIPTION = 'ESTIMATED'    
 -- ELIMINATE TIME COMPONENT    
 SET @FROMDATE = CAST(DATEPART(MM, @FROMDATE) AS VARCHAR(2)) + '/' + CAST(DATEPART(DD, @FROMDATE) AS VARCHAR(2)) + '/' + CAST(DATEPART(YYYY, @FROMDATE) AS VARCHAR(4))  
 SET @TODATE = CAST(DATEPART(MM, @TODATE) AS VARCHAR(2)) + '/' + CAST(DATEPART(DD, @TODATE) AS VARCHAR(2)) + '/' + CAST(DATEPART(YYYY, @TODATE) AS VARCHAR(4))  
  
 DECLARE @ID2 BIGINT  
  
 SELECT @ID2 = ID  
 FROM USAGECONSOLIDATED(NOLOCK)  
 WHERE ACCOUNTNUMBER = @ACCOUNTNUMBER  
  AND UTILITYCODE = @UTILITYCODE  
  AND FROMDATE = @FROMDATE  
  AND TODATE = @TODATE  
  --  AND TOTALKWH  = @TOTALKWH    
  --AND USAGETYPE  = @USAGETYPE    
  --AND USAGESOURCE  = @USAGESOURCE    
  AND ACTIVE = 0  
  
 -- SELECT ACCOUNTNUMBER, 'INSERTED FROM USP_UPDATECONSOLIDATEDUSAGE', ID, UTILITYCODE, ACCOUNTNUMBER, USAGETYPE, USAGESOURCE, FROMDATE, TODATE, TOTALKWH, DAYSUSED, CREATED, CREATEDBY, GETDATE() MODIFIED, ACTIVE, REASONCODE, METERNUMBER FROM USAGECONSOLIDATED WHERE ID = @ID    
 IF @ID2 IS NOT NULL  
  AND @ACTIVE = 0 -- RECORD ALREADY EXISTS    
 BEGIN  
  INSERT INTO WORKSPACE..USAGECLEANUP  
  SELECT ACCOUNTNUMBER  
   ,'INSERTED FROM USP_UPDATECONSOLIDATEDUSAGE'  
   ,ID  
   ,UTILITYCODE  
   ,ACCOUNTNUMBER  
   ,USAGETYPE  
   ,USAGESOURCE  
   ,FROMDATE  
   ,TODATE  
   ,TOTALKWH  
   ,DAYSUSED  
   ,CREATED  
   ,CREATEDBY  
   ,GETDATE() MODIFIED  
   ,ACTIVE  
   ,REASONCODE  
   ,METERNUMBER    FROM USAGECONSOLIDATED(NOLOCK)  
  WHERE ID = @ID  
  
  DELETE  
  FROM USAGECONSOLIDATED  
  WHERE ID = @ID  
  
  SET @ID = @ID2  
 END  
 ELSE  
 BEGIN  
   
  IF EXISTS (  
    SELECT 1  
    FROM USAGECONSOLIDATED(NOLOCK)  
    WHERE ACCOUNTNUMBER = @ACCOUNTNUMBER  
     AND UTILITYCODE = @UTILITYCODE  
     AND FROMDATE = @FROMDATE  
     AND TODATE = @TODATE  
     AND TOTALKWH = @TOTALKWH  
     AND DAYSUSED = @DAYSUSED  
     AND ACTIVE = @ACTIVE  
       
    )  
  BEGIN  
      
     
   DELETE  
    FROM USAGECONSOLIDATED  
   WHERE ACCOUNTNUMBER = @ACCOUNTNUMBER  
    AND UTILITYCODE = @UTILITYCODE  
    AND FROMDATE = @FROMDATE  
    AND TODATE = @TODATE  
    AND TOTALKWH = @TOTALKWH  
    AND DAYSUSED = @DAYSUSED  
    AND METERNUMBER = @METERNUMBER  
    AND ACTIVE = @ACTIVE  
    AND ID <> @ID  
  END  
  
  UPDATE USAGECONSOLIDATED  
  SET ACCOUNTNUMBER = @ACCOUNTNUMBER  
   ,UTILITYCODE = @UTILITYCODE  
   ,FROMDATE = @FROMDATE  
   ,TODATE = @TODATE  
   ,TOTALKWH = @TOTALKWH  
   ,DAYSUSED = @DAYSUSED  
   ,METERNUMBER = @METERNUMBER  
   ,ONPEAKKWH = @ONPEAKKWH  
   ,OFFPEAKKWH = @OFFPEAKKWH  
   ,INTERMEDIATEKWH = @INTERMEDIATEKWH  
   ,BILLINGDEMANDKW = @BILLINGDEMANDKW  
   ,MONTHLYPEAKDEMANDKW = @MONTHLYPEAKDEMANDKW  
   ,MONTHLYOFFPEAKDEMANDKW = @MONTHLYOFFPEAKDEMANDKW  
   ,USAGETYPE = @USAGETYPE  
   ,USAGESOURCE = @USAGESOURCE  
   ,MODIFIED = @MODIFIED  
   ,ACTIVE = @ACTIVE  
   ,REASONCODE = @REASONCODE  
  WHERE ID = @ID  
 END  
  
 UPDATE OFFERUSAGEMAPPING  
 SET USAGETYPE = @USAGETYPE  
 WHERE USAGEID = @ID  
  
 SELECT ID  
  ,ACCOUNTNUMBER  
  ,UTILITYCODE  
  ,USAGETYPE  
  ,USAGESOURCE  
  ,FROMDATE  
  ,TODATE  
  ,TOTALKWH  
  ,DAYSUSED  
  ,METERNUMBER  
  ,ONPEAKKWH  
  ,INTERMEDIATEKWH  
  ,OFFPEAKKWH  
  ,BILLINGDEMANDKW  
  ,MONTHLYPEAKDEMANDKW  
  ,MONTHLYOFFPEAKDEMANDKW  
  ,CREATED  
  ,CREATEDBY  
  ,ACTIVE  
  ,REASONCODE  
 FROM USAGECONSOLIDATED WITH (NOLOCK)  
 WHERE ID = @ID  
  
 DECLARE @MAXDATE DATETIME  
  ,@ANNUALUSAGE BIGINT  
  
 --  ,@TODATE1 DATETIME,    
 --  @TODATE0 DATETIME    
 ----TO TAKE ADVANTANGE OF THE SEPARATE UNIQUE INDEXES FOR WHEN ACTIVE =0 AND WHEN ACTIVE =1, WE USE SEPARATE QUERIES    
 ----TO GET MAX DATE FOR THOSE ENTRIES WITH ACTIVE=1 AND THOSE WITH ACTIVE=0    
 --SELECT      @TODATE1 = MAX(TODATE)    
 --   FROM  USAGECONSOLIDATED WITH (NOLOCK)    
 --   WHERE ACCOUNTNUMBER     = @ACCOUNTNUMBER    
 --   AND   UTILITYCODE       = @UTILITYCODE    
 --   AND ACTIVE = 1    
 --GROUP BY ACCOUNTNUMBER    
 --,                 UTILITYCODE    
 --SELECT      @TODATE0 = MAX(TODATE)    
 --   FROM  USAGECONSOLIDATED WITH (NOLOCK)    
 --   WHERE ACCOUNTNUMBER     = @ACCOUNTNUMBER    
 --       AND   UTILITYCODE       = @UTILITYCODE    
 --   AND ACTIVE = 0    
 --SELECT @MAXDATE = CASE WHEN @TODATE1 >= @TODATE0 THEN @TODATE1 ELSE @TODATE0 END    
 --UPDATE USAGE DATE AND ANNUAL USGE IN OFFER ENGINE, IF APPLICABLE    
 SELECT @MAXDATE = MAX(TODATE)  
 FROM USAGECONSOLIDATED WITH (NOLOCK)  
 WHERE ACCOUNTNUMBER = @ACCOUNTNUMBER  
  AND UTILITYCODE = @UTILITYCODE  
  
 UPDATE OFFERENGINEDB..OE_ACCOUNT  
 SET USAGE_DATE = @MAXDATE  
 WHERE ACCOUNT_NUMBER = @ACCOUNTNUMBER  
  AND UTILITY = @UTILITYCODE  
  
 CREATE TABLE #STAGING (  
  TOTALKWH INT  
  ,FROMDATE DATETIME  
  ,TODATE DATETIME  
  )  
  
 INSERT INTO #STAGING  
 SELECT U.TOTALKWH  
  ,U.FROMDATE  
  ,U.TODATE  
 FROM USAGECONSOLIDATED U WITH (NOLOCK)  
 INNER JOIN OFFERUSAGEMAPPING M WITH (NOLOCK) ON U.[ID] = M.USAGEID  
  AND M.USAGETYPE = U.USAGETYPE  
 INNER JOIN OFFERENGINEDB..OE_OFFER_ACCOUNTS O WITH (NOLOCK) ON M.OFFERACCOUNTSID = O.[ID]  
 INNER JOIN OFFERENGINEDB..OE_ACCOUNT A WITH (NOLOCK) ON O.ACCOUNT_NUMBER = A.ACCOUNT_NUMBER  
 WHERE A.ACCOUNT_NUMBER = @ACCOUNTNUMBER  
  AND A.UTILITY = @UTILITYCODE  
   
 UNION  
   
 SELECT U.TOTALKWH  
  ,U.FROMDATE  
  ,U.TODATE  
 FROM ESTIMATEDUSAGE U WITH (NOLOCK)  
 INNER JOIN OFFERUSAGEMAPPING M WITH (NOLOCK) ON U.[ID] = M.USAGEID  
  AND M.USAGETYPE = U.USAGETYPE  
 INNER JOIN OFFERENGINEDB..OE_OFFER_ACCOUNTS O WITH (NOLOCK) ON M.OFFERACCOUNTSID = O.[ID]  
 INNER JOIN OFFERENGINEDB..OE_ACCOUNT A WITH (NOLOCK) ON O.ACCOUNT_NUMBER = A.ACCOUNT_NUMBER  
 WHERE A.ACCOUNT_NUMBER = @ACCOUNTNUMBER  
  AND A.UTILITY = @UTILITYCODE  
  
 --  AND M.USAGETYPE   = @ESTIMATE    
 SELECT @ANNUALUSAGE = CAST((  
    SUM(TOTALKWH) * CAST(365 AS FLOAT) / CASE   
     WHEN CAST(SUM(DATEDIFF(DD, FROMDATE, TODATE)) AS FLOAT) = 0  
      THEN 1  
     ELSE CAST(SUM(DATEDIFF(DD, FROMDATE, TODATE)) AS FLOAT)  
     END  
    ) AS BIGINT)  
 FROM #STAGING  
  
 IF @ANNUALUSAGE IS NOT NULL  
  AND @ANNUALUSAGE > 0  
 BEGIN  
  UPDATE OFFERENGINEDB..OE_ACCOUNT  
  SET ANNUAL_USAGE = @ANNUALUSAGE  
  WHERE ACCOUNT_NUMBER = @ACCOUNTNUMBER  
   AND UTILITY = @UTILITYCODE  
 END  
  
 SET NOCOUNT OFF;  
END  
 -- COPYRIGHT 2010 LIBERTY POWER    