<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!-- begin section for Security Manager -->
    <section name="OMS" type="LibertyPower.Business.CommonBusiness.SecurityManager.CustomSettingsManager, SecurityManager" />
    <!-- end section for Security Manager-->
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
	  <!--
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
		-->
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--
	<add name="LPConnectionString" connectionString="Data Source=sqlprod,1433;Initial Catalog=LibertyPower;user=sa;password=Sp@c3ch@1r;timeout=180" />
 <add name="LPConnectionString" connectionString="data source=sqldev,1433;initial catalog=LibertyPower;user=sa;password=N0tr35p@55;timeout=10"/>
    
		<add name="common_product_rate" connectionString="data source=sqlprod,1433;initial catalog=lp_common;user=sa;password=Sp@c3ch@1r;timeout=180"/>
    <add name="lp_commissions" connectionString="Data Source=sqlprod,1433;Initial Catalog=_lp_commissionsuser=sa;password=Sp@c3ch@1r;"/>

 <remove name="LibertyPower"/>  
    <add name="LibertyPower" connectionString="Data Source=sqlprod,1433;Initial Catalog=LibertyPower;user=sa;password=Sp@c3ch@1r;timeout=180"/>
    -->
  </connectionStrings>
  <!-- begin section for Security Manager -->
  <OMS ADUserName="webappauth_svc" ADPassword="P@55@uthen" ADDomain="libertypower.local" FrameworkAccountName="FrameworkAccount" FrameworkAccountID="1" OMSRoles="RCM_ADMIN, RCM_USER">
  </OMS>
  <!-- end section for Security Manager -->
  <system.web>
    <httpRuntime executionTimeout="999999" maxRequestLength="2097151" />
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
           on the local Web server. This setting is recommended for security purposes, so
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows",
          "Forms", "Passport" and "None"

          "None" No authentication is performed.
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
           its settings for the application. Anonymous access must be disabled in IIS.
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root.
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
    <!--
    Removed <xhtmlConformance mode="Legacy" /> from web.config. Partial postbacks will not occur with this tag.
    -->
    <pages>
      <namespaces>
        <add namespace="Microsoft.VisualBasic" />
        <add namespace="System.Data" />
        <add namespace="System.Drawing" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <appSettings>

    <add key="DataArchiveRootPath" value="\\libertypower.local\nocshares" />
    <add key="DataArchiveProductCrossPriceRelPath" value="ProductCrossPrice_history_Archive" />
    <add key="DataArchiveChannelPriceRelPath" value="Price_archive" />
    <add key="ArchivePrices" value="false"/>
    <add key="DeleteOriginalFile" value="true" />
    
    <!-- can have multiple addresses, separate with semicolon -->
    <add key="DailyPricingEmailCC" value="" />
    <add key="DailyPricingEmailBCC" value="PricingSheets@libertypowercorp.com" />

    <add key="MinutesToKeepCache" value="180"/>

    <!--Connection String-->
    <add key="ConnectionString" value="data source=sqlprod,1433;initial catalog=lp_common;user=sa;password=Sp@c3ch@1r;timeout=180" />

    <!--Grid's page size-->
    <add key="ImageHeader" value="~/Images/libertypowerlogosmall.jpg" />
    <add key="SystemCode" value="COM" />
    <add key="GridPageSize" value="15" />
    <add key="DefaultLossFactor" value="1.074" />
    <add key="DefaultAdjustmentFactor" value="1" />
    <!--Configuração Scraper-->
    <add key="UserRetailAccess" value="hamr" />
    <add key="PassRetailAccess" value="brite" />
    <add key="ReprocessAccount" value="false" />
    <add key="CostumerServiceURL" value="https://q050-w5.coned.com/csol/" />
    <add key="RAISLoginURL" value="https://q050-w5.coned.com/RetailAccess/" />
    <!--Home Address-->
    <add key="HomeAddress" value="https://enrollment.libertypowercorp.com/" />
    <!--Portal Id-->
    <add key="PortalId" value="0" />
    <add key="DocumentManagementURL" value="https://enrollment.libertypowercorp.com/proddocuments/default.aspx" />
    <add key="DocumentRepository.documentRepository" value="http://sqlprod:83/proddocumentrepository/documentRepository.asmx" />
    <add key="FileManagerRoot" value="\\lpcnocfs2\Repository\ManagedFiles\Import" />
    <add key="FileManagerContextKey" value="CostFS1" />
    <add key="FileManagerBusinessPurpose" value="Load Cost Components for Daily Pricing" />

    <add key="FileManagerContextKeyPricingSheet" value="DailyPricingFS1" />
    <add key="FileManagerBusinessPurposePricingSheet" value="Daily Pricing Sheets FS1" />
    <add key="FileManagerRootPricingSheet" value="\\lpcnocfs2\Repository\ManagedFiles\PricingSheets\" />
    <add key="MaxFilesInPath" value="500" />
    <add key="FileManagerDeleteOriginal" value="true" />
    <add key="DailyPricingUseFileQueue" value="true" />
    <add key="ServerName" value="\\lpcnocsql1.libertypower.local/" />

    <!-- Daily Pricing -->
    <add key="MaxCrossProductPriceDataTableCount" value="10000" />
    <!-- MaxCrossProductPriceDataTableCount will dictate how many cross products to insert at a time when saving a collection -->
    <add key="CrossProductBulkInsertBatchSize" value="1000" />
    <!-- CrossProductBulkInsertBatchSize indicates the batch size for a Cross product SQLBulkCopy -->
    <add key="CrossProductStageTableMaxRelativeDays" value="1" />
    <!-- CrossProductStageTableMaxRelativeDays indicates the numbers of days to keep any abandoned records in the cross product staging table-->
    <add key="ProductConfigurationSuccessfullySaved" value="Product configuration successfully saved." />
    <add key="NoProductOffers" value="No product offers for selected criteria." />
    <add key="DailyPricingErrorSender" value="servicedesk@libertypowercorp.com" />

    <add key="DailyPricingErrorRecipient" value="DL-LOGIT@libertypowercorp.com" />
    <add key="DailyPricingLegacyUpdateWarningRecipient" value="DL-LOGIT@libertypowercorp.com" />

    <!-- Daily Pricing Multi-Threading -->
    <add key="DailyPricingUseMultiThreading" value="true"/>
    <!-- How many process threads to run -->
    <add key="DailyPricingMultiThreadingTotalThreads" value="8"/>

    <!-- Daily Pricing Component Serialization -->
    <add key="DailyPricingSerializePriceGenerationComponents" value="false"/>
    <add key="DailyPricingSerializeSheetGenerationComponents" value="false"/>
    <add key="DailyPricingSerializeSheetDistributionComponents" value="false"/>
    <add key="DailyPricingSerializeLegacyRateUpdateComponents" value="false"/>
    <add key="DailyPricingSerializePriceGenerationFilePath" value="C:\TEMP\it044\DataFiles\"/>
    <add key="DailyPricingSerializeSheetGenerationFilePath" value="C:\TEMP\it044\DataFiles\"/>
    <add key="DailyPricingSerializeSheetDistributionFilePath" value="C:\TEMP\it044\DataFiles\"/>
    <add key="DailyPricingSerializeLegacyRateUpdateFilePath" value="C:\TEMP\it044\DataFiles\"/>

    <!-- Daily Pricing Admins (provide additional functionality that is hidden from users) -->
    <add key="DailyPricingAdminUserIDs" value="3,15,17" />

    <add key="Aspose.Cells.License.Path" value="\\lpcnocfs2\Repository\ManagedFiles\License\" />
    <add key="DailyPricingRateCodeLookup" value="false" />
    <add key="UpdateLegacyPricing" value="true" />
    <add key="InactivateLegacyRates" value="true"/>
    <add key="UpdateLegacyPricingFile" value="C:\inetpub\wwwroot\DailyPricingAdmin\files\UpdateLegacyPricing[DATE].txt" />
    <add key="UpdateLegacyPricingStagingTable" value="DailyPricingUpdateLegacyRates_Stage" />

    <add key="SendEmails" value="true" />
    <!-- If SendEmails is false, the emails will be save to the "SaveEmailLocation". (Directory must exist) -->
    <add key="SaveEmailLocation" value="C:\TEMP\it044\emails" />

    <add key="DailyPricingCreditFileAttachmentLocation" value="\\lpcnocfs2\Repository\ManagedFiles\PricingSheets\Daily Pricing Credit Policy.pdf" />
    <add key="DailyPricingSheetSender" value="DailyPricing@libertypowercorp.com" />
    <add key="DailyPricingSheetSubject" value="Liberty Power Daily Pricing [SALESCHANNEL] – [DATE]  ** DO NOT REPLY TO THIS EMAIL **" />
    <add key="DailyPricingSheetBody" value="Good Morning, [BREAK]
          Attached is Daily Pricing for Liberty Power effective until 7:00 pm EST on [DATE]. [BREAK]
          You also have real-time access to your pricing and submitted deals through our Partner Portal. This allows you to see the status of ALL of your accounts, 24/7! [BREAK]
          If you do not see a deal in the portal within 24 hours of sending the contract to us, contact your Channel Development Manager or Sales Support Analyst immediately so they can determine why it is not in our system. [BREAK]
          Instructions on how to access our portal are below. If you have any questions about your access, including password and username information, please contact your Channel Development Manager or Sales Support Analyst. [BREAK]
          Liberty Power Partner Portal access: [BREAK]
          [BOLDBEGIN]Click:[BOLDEND] https://enrollment.libertypowercorp.com/proddealcapture/Login.aspx?stay=1 [BREAK]
          [BOLDBEGIN]Enter User Name:[BOLDEND] libertypower\Your channel Acronym [BREAK]
          [BOLDBEGIN]Enter Password (case sensitive):[BOLDEND] If you are not sure of your password, contact your Channel Development Manager or Sales Support Analyst. [BREAK]
          Contracts are available on the Sales Main Menu of the Partner Portal; just click “Print Contracts”. [BREAK]
          All Executed Contracts should be emailed to executedcontracts@libertypowercorp.com and can also be faxed to 1-800-306-6264 or 281-596-4430. Please use the attached cover page. [BREAK]
          All deals requiring Custom Pricing should be sent to requestforprice@libertypowercorp.com. Please fill out the Price Request Form available in the “Forms” section of the Sales Main Menu and provide usage data if applicable. [BREAK]
      "/>

    <!--   ************ Telerik Skinning **************   -->
    <add key="Telerik.Skin" value="Web20" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />

    <!--   ********* Phone Notification Web Service ***********   -->
    <add key="PhoneNotificationCallerID" value="9545402186" />
    <add key="PhoneNotificationCallerIDName" value="Alberto Franco" />
    <add key="PhoneNotificationVoiceID" value="0" />
    <add key="PhoneNotificationLicenseKey" value="66239c3c-05d3-4bf9-8858-390dbb143fa4" />

    <!--   ********* Daily Pricing Phone Notification ***********   -->
    <!-- Separate multiple phone numbers with a semicolon -->
    <add key="PhoneNotificationPhoneNumbersDailyPricing" value="7204125100" />
    <add key="PhoneNotificationTextToSayDailyPricing" value="Warning, warning, get out of bed, I repeat, get out of bed. Our daily pricing environment on our production server has issues. [PROCESS] has failed to complete. Do not go back to sleep. See you later." />

    <!--   ********* Phone Notification Retry on Failure ***********   -->
    <add key="PhoneNotificationRetryMax" value="5" />
    <!-- PhoneNotificationRetrySleepDuration is in milliseconds -->
    <add key="PhoneNotificationRetrySleepDuration" value="5000" />

    <!--   ********* Daily Pricing Email Notification ***********   -->
    <add key="DailyPricingNotificationEmailFrom" value="donotreply@libertypowercorp.com" />
    <add key="DailyPricingNotificationEmailDisplayName" value="Do Not Reply" />
    <add key="DailyPricingNotificationEmailSubject" value="Daily Pricing Notification [DATE]" />
    <add key="DailyPricingNotificationEmailProcessCompleteMessage" value="[PROCESS] has successfully completed at [DATE]." />
    <add key="DailyPricingNotificationEmailAllProcessesCompleteMessage" value="All daily pricing processes have successfully completed at [DATE]. It will be a good day!" />


    <!--Mail Server-->
    <add key="SMTPServer" value="MAIL" />


  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800"/>
        </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode,runtimeVersionv2.0" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode,runtimeVersionv2.0" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="DailyPricingMenu.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
 <!-- for tracing only
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="ServiceModelTraceListener"
           type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="D:\Test\Logs\messages.svclog" traceOutputOptions="LogicalOperationStack" />
    </sharedListeners>
  </system.diagnostics>
  -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="DailyPricingHostWcf" closeTimeout="10:00:00" openTimeout="10:00:00"
          receiveTimeout="23:59:59" sendTimeout="23:59:59" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="23:59:59"
            enabled="false" />
        </binding>
        <binding name="DailyPricingAgentWcf" closeTimeout="10:00:00"
          openTimeout="10:00:00" receiveTimeout="23:59:59" sendTimeout="23:59:59"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="23:59:59"
            enabled="false" />
        </binding>
        <binding name="WSHttpBinding_IPriceService" closeTimeout="10:00:00"
          openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="10:00:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPriceService1" closeTimeout="10:00:00"
          openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="10:00:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lpcnocws3:85/Service.svc" binding="wsHttpBinding"
        bindingConfiguration="DailyPricingHostWcf" contract="DailyPricingHostWcf.IService"
        name="DailyPricingHostWcf" />
      <endpoint address="http://lpcnocws3:88/Service.svc" binding="wsHttpBinding"
        bindingConfiguration="DailyPricingAgentWcf" contract="DailyPricingAgentWcf.IService"
        name="DailyPricingAgentWcf" />
		
      <endpoint address="http://lpcnocws3:87/PriceService.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IPriceService1" behaviorConfiguration="Behaviors.EndpointBehavior" contract="PriceService.IPriceService"
        name="WSHttpBinding_IPriceService">
        <identity>
          <servicePrincipalName value="host/lpcnocws3.libertypower.local" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="Behaviors.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>  
</configuration>
