<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibertyPower.Business.CustomerManagement.AccountManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LibertyPower.Business.CustomerManagement.AccountManagement.Properties.Settings>
            <setting name="EmailFrom" serializeAs="String">
                <value>rideigsler@libertypowercorp.com</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>rideigsler@libertypowercorp.com</value>
            </setting>
            <setting name="ErrorSubject" serializeAs="String">
                <value>Framework Error</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>MAIL</value>
            </setting>
            <setting name="DocumentRepository" serializeAs="String">
                <value>http://lpcnocws4:83/DocumentRepository/DocumentRepository.asmx</value>
            </setting>
            <setting name="AccountManagement_com_libertypowercorp_enrollment_RepositoryServices"
                serializeAs="String">
                <value>http://lpcnocws4:83/documentrepository/documentrepository.asmx</value>
            </setting>
            <setting name="AccountManagement_localhost_RepositoryServices"
                serializeAs="String">
                <value>http://localhost:50798/DocumentRepository.asmx</value>
            </setting>
            <setting name="AccountManagement_DocumentRepository_RepositoryServices"
                serializeAs="String">
                <value>http://localhost:83/DocumentRepository/DocumentRepository.asmx</value>
            </setting>
        </LibertyPower.Business.CustomerManagement.AccountManagement.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53446/RateService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRateService" contract="RateServiceWCF.IRateService"
                name="BasicHttpBinding_IRateService" />
        </client>
    </system.serviceModel>
</configuration>