<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsage" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lpcd7x64-065/UsageManagment/Usage.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsage"
          contract="IUsage" name="BasicHttpBinding_IUsage" />
    </client>
  </system.serviceModel>
</configuration>