@model UtilityManagement.Models.ReportModel

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <div class="form-details">
        <div class="form-title">
            <div class="form-title-general">Reports:&nbsp;</div>
            <div class="form-title-specific">Request Mode IDR</div>
        </div>
        <div class="form-information">&nbsp;&nbsp;Report</div>
        <div class="form_fieldset">
            <fieldset>
                <legend>Request Mode IDR</legend>
                <div class="details-data-section">
                    <img src="/RequestModeIdr/HuChart" alt="" class="img" />
                    </div>
                </fieldset>
            </div>
       </div>
<script>
    $(function () {
        $("#tabs").tabs();

    });

 