<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUtilityManagementService" sendTimeout="00:05:00" maxReceivedMessageSize="2147483640" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/UtilityManagementService/UtilityManagementService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUtilityManagementService"
          contract="IUtilityManagementService" name="BasicHttpBinding_IUtilityManagementService" />
    </client>
  </system.serviceModel>
</configuration>