<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="UtilityLogging.ILogger, UtilityLogging" mapTo="UtilityLogging.Logger, UtilityLogging" />
      <register type="UtilityManagementBusinessLayer.IBusinessLayer, UtilityManagementBusinessLayer" mapTo="UtilityManagementBusinessLayer.BusinessLayer, UtilityManagementBusinessLayer" />
      <register type="UtilityManagementRepository.IDataRepository, UtilityManagementRepository" mapTo="UtilityManagementRepository.DataRepositoryEntityFramework, UtilityManagementRepository" />
    </container>
  </unity>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\TFS_Workspace_1\UtilityManagement\UtilityManagement\App_Data\aspnet-UtilityManagement-20130605181759.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Lp_UtilityManagementEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LPCNOCSQLINT2\DELTA;Initial Catalog=Lp_UtilityManagement;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LibertyPower" connectionString="Data Source=lpcnocsqlint1\prod;Initial Catalog=LibertyPower;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="DataSync" connectionString="Data Source=lpcnoccrmsql;Initial Catalog=DataSync;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Lp_UtilityManagement" connectionString="Data Source=LPCNOCSQLINT2\DELTA;Initial Catalog=Lp_UtilityManagement;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CHACHING_EXPIRATION_SECONDS" value="0"/>
    <add key="LOGGER_NAME" value="UtilityManagementLogger" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RequestModeHistoricalUsageDatabaseName" value="Historical Usage" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="a" />
    <add key="NextMeterReadFutureDayThreshold" value="60" />
    <add key="PreviousMeterReadFutureDayThreshold" value="90"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <!--<service name="UtilityManagementService.UtilityManagementService">-->
      <service name="UtilityManagementService.UtilityManagementService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/UtilityManagementService/UtilityManagementService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="UtilityManagementService.IUtilityManagementService" 
                  bindingConfiguration="BasicHttpBinding_IUtilityManagementService" name="BasicHttpBinding_IUtilityManagementService" >
          <!-- Upon deployment, the following identity element should be removed or replaced to reflect the identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity automatically.-->
          <!--<identity>
            <dns value="localhost" />
          </identity>-->
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUtilityManagementService" maxBufferPoolSize="2147483640" maxBufferSize="2147483640" maxReceivedMessageSize="2147483640" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IUsage" />
        <binding name="BasicHttpBinding_IAccounts" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lpcd7x64-065/UsageManagment/Usage.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsage"
          contract="IUsage" name="BasicHttpBinding_IUsage" />
      <!--<endpoint address="http://lpcd7x64-036:8080/Accounts/v1" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IAccounts" contract="IAccounts"
            name="BasicHttpBinding_IAccounts" />-->
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="data source=LPCD7X64-008;Initial Catalog=OfferEngineDB;User ID=sa;Password=Sp@c3ch@1r;"/>-->
      <connectionString value="Data Source=LPCNOCSQLINT2\DELTA;Initial Catalog=Lp_UtilityManagement;Integrated Security=True" />
      <commandText value="INSERT INTO LOG (DATE,THREAD,LEV,LOGGER,MESSAGE,EXCEPTION) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Log4Net/.log" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="15"/>
      <maximumFileSize value="1MB"/>
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="UtilityManagementLogger">
      <level value="Debug" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
</configuration>