<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key ="TableName" value ="PBI104976"/>-->
    <add key ="TableName" value ="AbhiCalcAnnualUsage_NoMeterReads"/>    
  </appSettings>
      
    <connectionStrings>
    <clear/>
    <!--<add name="DWConnectionString" connectionString="Data Source=LPCNOCSQLDW1\DW;Initial Catalog=DW_Workspace;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>-->
    <add name="WSConnectionString" connectionString="Data Source=LPCNOCSQLInt1\Prod;Initial Catalog=Workspace;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://lpcnocwsdelta1:8089/Usage.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndpoint" contract="AnnUsage.IUsage"
                name="BasicHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>