<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OnlineEnrollmentContext" connectionString="Data Source=LPCD7X64-013\MSSQL2008;Initial Catalog=OnlineEnrollment;Persist Security Info=True;User ID=developer;Password=lighthouse;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--<add name="LibertyPower" connectionString="data source=LPCD7X64-013\MSSQL2008;initial catalog=LibertyPower;persist security info=True;user id=developer;password=lighthouse;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IContractSubmission" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="5242880" maxBufferSize="6553600" maxReceivedMessageSize="6553600"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="6553600"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
          </security>
        </binding>
        <binding name="basicHTTPBinding_CRMTesting" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="6553600"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

      </basicHttpBinding>
      <wsHttpBinding>
		  <binding maxBufferPoolSize="2147483647" name="WSHttpBinding_IOrderEntry" maxReceivedMessageSize="2147483647">
			  <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
		  </binding>
		  <binding maxBufferPoolSize="2147483647" name="WSHttpBinding_IDocumentService" maxReceivedMessageSize="2147483647">
			  <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
		  </binding>
		  
        <binding name="WSHttpBinding_ICRMTesting" />
      </wsHttpBinding>
    </bindings>

    <client>
      <!--Config for Testing DevOrdersAPI -->
	  <endpoint address="http://devordersapi.libertypowercorp.com/DocumentService.svc"
		binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentService"
		contract="DocumentService.IDocumentService" name="WSHttpBinding_IDocumentService" />
	  <endpoint address="http://devordersapi.libertypowercorp.com/OrderEntry.svc"
		binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderEntry"
		contract="OrderEntry.IOrderEntry" name="WSHttpBinding_IOrderEntry" />
      <endpoint address="http://devordersapi.libertypowercorp.com/CRMTesting.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHTTPBinding_CRMTesting"
        contract="TestingService.ICRMTesting" name="basicHTTPBinding_CRMTesting" />
      <!--Config for Testing Locally
      <endpoint address="http://localhost:57373/ContractSubmission.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractSubmission"
        contract="ContractAPI.IContractSubmission" name="BasicHttpBinding_IContractSubmission" />
      <endpoint address="http://localhost:57373/CRMTesting.svc" binding="basicHttpBinding"
        bindingConfiguration="basicHTTPBinding_CRMTesting" contract="TestingService.ICRMTesting"
        name="basicHTTPBinding_CRMTesting" />      
      <endpoint address="http://localhost:57373/CommonServices.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServices"
        contract="CommonServicesAPI.ICommonServices" name="WSHttpBinding_ICommonServices">
      </endpoint>-->
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="TestDataPath" value="C:\TestResults\TestData\"/>
    <add key="TestResultsPath" value="C:\TestResults\"/>
    <!--Please provide Date in MM/DD/YYYY format-->
    <add key="PriceDateToUse" value="10/08/2013" />
    <!--Please provide valid format which DateTime.ToString() 
    understands See acomplete List http://msdn.microsoft.com/en-us/library/8kb3ddd4.aspx -->
    <add key="TestRunDateFormat" value="MM-dd-yyyy hh-mm" />
    <!--<add key="TestCasesToRun" value="25" />-->
  </appSettings>
</configuration>