<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="ProcessIntervalDays" value="30" />
    <add key="ChunkSize" value="200" />
    <add key="LOGGER_NAME" value="AnnualUsageUpdatorLogger"/>

    <!--Mail Server-->
    <add key="SMTPServer" value="MAIL"/>
    <add key="SmtpServerName" value="MAIL"/>
    <add key="EmailEnabled" value="false"/>
    <!--Server Type-->
    <add key="ServerType" value="Production"/>
    <!--Error Sender-->
    <add key="MailSender" value="mthanath@libertypowercorp.com"/>
    <!--Error Recipient-->
    <add key="MailRecipient" value="mthanath@libertypowercorp.com"/>
    <add key="MailRecipient1" value="mthanath@libertypowercorp.com"/>
    <add key="MailRecipient2" value="mthanath@libertypowercorp.com"/>
  </appSettings>
  
  <connectionStrings>
    <add name="LibertyPowerConnectionString" connectionString="Data Source=VM1LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;user=sa;password=Sp@c3ch@1r;" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://172.21.9.160/UsageWcfService/Usage.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsage" contract="IUsage" name="BasicHttpBinding_IUsage" />
      <endpoint address="http://172.21.9.160/AccountWcfService/AccountWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountWcfService" contract="IAccountWcfService" name="BasicHttpBinding_IAccountWcfService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpointBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IUsage" sendTimeout="00:10:00" />
        <binding name="BasicHttpBinding_IAccountWcfService" sendTimeout="00:05:00"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Log4Net/.log" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="15"/>
      <maximumFileSize value="1MB"/>
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="Debug"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="AnnualUsageUpdatorLogger">
      <level value="Debug"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
  </log4net>
</configuration>