<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LOGGER_NAME" value="EdiParserServiceLogger"/>
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="LibertyPower.MarketDataServices.EdiParserWcfService.EdiParserWcfService">
        <endpoint address="" binding="basicHttpBinding"
          contract="LibertyPower.MarketDataServices.EdiParserWcfService.IEdiParserWcfService" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://lpcnocwsdelta1:8099/EdiParserWcfService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--
    <bindings>
      <basicHttpBinding>
        <binding name="EDIBasicHttp" />
      </basicHttpBinding>
    </bindings>
    -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://lpcnocwsgamma1:8081/Accounts/v1" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IAccounts" contract="IAccounts"
                    name="BasicHttpBinding_IAccounts" />
      <endpoint address="http://lpcnocwsdelta1:8089/usage.svc" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpEndpoint" contract="IUsage"
              name="BasicHttpEndpoint" />
      <endpoint address="http://lpcnocwsdelta1:8083/UtilityManagementService.UtilityManagementService.svc"
                    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUtilityManagementService"
                    contract="IUtilityManagementService" name="BasicHttpBinding_IUtilityManagementService" />
      <endpoint address="http://54.187.126.151/UsageEclWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsageEclWcfService"
        contract="IUsageEclWcfService" name="BasicHttpBinding_IUsageEclWcfService" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccounts" sendTimeout="00:05:00" />
        <binding name="BasicHttpEndpoint" sendTimeout="00:05:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IUtilityManagementService" sendTimeout="00:05:00" />
        <binding name="BasicHttpBinding_IUsage" />
        <binding name="BasicHttpBinding_IUsageEclWcfService" sendTimeout="00:05:00" />

      </basicHttpBinding>
    </bindings>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="False" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Log4Net/.log" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="15"/>
      <maximumFileSize value="1MB"/>
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="Debug"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="EdiParserServiceLogger">
      <level value="Debug"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
  </log4net>
</configuration>