<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="ConnectionStringName" value="LP_TransactionsConnectionString"/>
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="Chainsaw" name="viewer" address="udp://127.0.0.1:9000">
        <parameter layout="${message}" name="Message" />
        <parameter layout="${exception:format=tostring}" name="Exception" />
        <parameter layout="${stacktrace}" name="StackTrace" />
      </target>
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}${newline} ${exception:innerFormat=Message:maxInnerExceptionLevel=10:format=Message}${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=10:format=StackTrace}"
		fileName="${basedir}/logs/logfile.txt"
		keepFileOpen="false"
		encoding="iso-8859-2"
		autoFlush="true"
		archiveAboveSize="300000"
		archiveNumbering="Sequence"
		ConcurrentWrites="false"></target>
    </targets>
    <rules>
      <!--Levels in order: Trace,Debug,Info,Warn,Error,Fatal,Off-->
      <logger name="*" minlevel="Trace" writeTo="viewer" />
      <logger name="*" minLevel="Error" appendTo="file" />
    </rules>
  </nlog>
</configuration>