<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FtpServer" value="ftp.libertypowercorp.com"/>
    <add key="FtpUsername" value="istausage"/>
    <add key="FtpPassword" value="Usage4lpc"/>
    <add key="FtpDirectoryIsta" value="dropedi/"/>
    <add key="FtpDirectoryESG" value="DropEdiByESG/"/>
    <add key="ConnectToFtp" value="true"/>
    <add key="TempDirectoryIsta" value="C:\TempDirectoryIsta\"/>
    <add key="TempDirectoryESG" value="C:\TempDirectoryESG\"/>
    <add key="NonParserEDIFilesDirectory" value="\\lpcnocfs2\FileManager\EDIFilesGrabber\NonParserEDIFiles\"/>
    <add key="TempDirectoryNetwork" value="\\lpcftlfs1\InformationTechnology\EDIFilesGrabber\TempDirectory\"/>
    <add key="DestinationDirectory" value="C:\DestDirectory\"/>
    <add key="LogDirectory" value="C:\FtpLog\"/>
    <add key="LogFile" value="X12Files"/>
    <add key="ErrorFile" value="X12Error"/>
    <add key="FileManagerContextKey" value="EdiFileParsing"/>
    <add key="FileManagerBusinessPurpose" value="EDI File Parsing"/>
    <add key="FileManagerRoot" value="C:\EdiManagedFiles\"/>
    <add key="FileManagerDeleteOriginal" value="true"/>
    <add key="FileManagerMaxFilesInPath" value="500"/>    
    <add key="FileMask" value="*.*"/>
  </appSettings>
  <connectionStrings>
    <remove name="LibertyPower" />
    <remove name="Transactions" />
    <remove name="Common" />
    <remove name="OfferEngine" />
    <remove name="Ista" />
    <remove name="MSDB" />
    <remove name="DealCapture" />
    <remove name="Enrollment" />
    <remove name="Account" />
    <remove name="ERCOT" />
    <remove name="SQL9" />
    <add name="MSDB" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_commissions;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DealCapture" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Enrollment" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;ntegrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="LibertyPower" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Transactions" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Common" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="OfferEngine" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Ista" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ISTA;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Account" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_account;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ERCOT" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ERCOT;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SQL9" connectionString="Data Source=LPCNOCSQL9\TRANSACTIONS;Initial Catalog=Ecl;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataSynchronization" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:88/DataSynchronization.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSynchronization"
          contract="DataSynchronizationServiceReference.IDataSynchronization"
          name="BasicHttpBinding_IDataSynchronization" />
    </client>
  </system.serviceModel>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
