<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseUsageFilePath" value="C:\Liberty\Market\File1ae4382e-251d-4870-bf18-0d3297fbc69b.csv"/>
    <add key="NewUsageFilePath" value="C:\Liberty\Market\File7e268ac7-b41d-4f16-91b0-12cb16b49de5.csv"/>
  </appSettings>
</configuration>