/****** Object:  Table [dbo].[RECONEDI_ISOControl]    Script Date: 6/20/2014 4:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECONEDI_ISOControl](
	[ISO] [varchar](50) NOT NULL,
	[814_Key] [int] NOT NULL,
	[LastEDI] [date] NOT NULL,
	[LastAccountChanges] [date] NOT NULL,
 CONSTRAINT [PK_RECONEDI_ISOControl] PRIMARY KEY CLUSTERED 
(
	[ISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
