/****** Object:  Table [dbo].[RECONEDI_MTM]    Script Date: 6/26/2014 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECONEDI_MTM](
	[MTMID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NOT NULL,
	[ReconID] [int] NOT NULL,
	[ID] [int] NULL,
	[BatchNumber] [varchar](50) NULL,
	[QuoteNumber] [varchar](50) NULL,
	[AccountID] [int] NULL,
	[ContractID] [int] NULL,
	[Zone] [varchar](50) NULL,
	[LoadProfile] [varchar](50) NULL,
	[ProxiedZone] [bit] NULL,
	[ProxiedProfile] [bit] NULL,
	[ProxiedUsage] [bit] NULL,
	[MeterReadCount] [int] NULL,
	[Status] [varchar](50) NULL,
	[DateCreated] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[DateModified] [datetime] NULL,
 CONSTRAINT [PK_RECONEDI_MTM_1] PRIMARY KEY CLUSTERED 
(
	[MTMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [idx_RECONEDI_MTM]    Script Date: 6/26/2014 4:13:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_RECONEDI_MTM] ON [dbo].[RECONEDI_MTM]
(
	[EnrollmentID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
/****** Object:  Index [idx1_RECONEDI_MTM]    Script Date: 6/26/2014 4:13:59 PM ******/
CREATE NONCLUSTERED INDEX [idx1_RECONEDI_MTM] ON [dbo].[RECONEDI_MTM]
(
	[AccountID] ASC,
	[ContractID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
/****** Object:  Index [idx2_RECONEDI_MTM]    Script Date: 6/26/2014 4:13:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx2_RECONEDI_MTM] ON [dbo].[RECONEDI_MTM]
(
	[EnrollmentID] ASC,
	[ReconID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
