/****** Object:  Table [dbo].[RECONEDI_AccountChangePending]    Script Date: 6/26/2014 4:13:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECONEDI_AccountChangePending](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISO] [varchar](50) NOT NULL,
	[UtilityCode] [varchar](50) NOT NULL,
	[Esiid] [varchar](50) NOT NULL,
	[EsiidOld] [varchar](50) NOT NULL,
	[ReconID] [int] NOT NULL,
 CONSTRAINT [PK_RECONEDI_AccountChangePending] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_RECONEDI_AccountChangePending]    Script Date: 6/26/2014 4:13:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_RECONEDI_AccountChangePending] ON [dbo].[RECONEDI_AccountChangePending]
(
	[ISO] ASC,
	[UtilityCode] ASC,
	[EsiidOld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx2_RECONEDI_AccountChangePending]    Script Date: 6/26/2014 4:13:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx2_RECONEDI_AccountChangePending] ON [dbo].[RECONEDI_AccountChangePending]
(
	[ISO] ASC,
	[UtilityCode] ASC,
	[Esiid] ASC,
	[EsiidOld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
/****** Object:  Index [idx3_RECONEDI_AccountChangePending]    Script Date: 6/26/2014 4:13:59 PM ******/
CREATE NONCLUSTERED INDEX [idx3_RECONEDI_AccountChangePending] ON [dbo].[RECONEDI_AccountChangePending]
(
	[ReconID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
