/****** Object:  Table [dbo].[RECONEDI_MTMVolume]    Script Date: 6/26/2014 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECONEDI_MTMVolume](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReconMTMAccountID] [int] NOT NULL,
	[YearUsage] [int] NULL,
	[Volume] [decimal](38, 4) NULL,
 CONSTRAINT [PK_RECONEDI_MTMVolume] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
