/****** Object:  Table [dbo].[RECONEDI_Filter]    Script Date: 6/20/2014 4:29:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECONEDI_Filter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISO] [varchar](50) NULL,
	[Utility] [varchar](50) NULL,
	[AccountNumber] [varchar](50) NULL,
	[Action] [char](1) NULL,
 CONSTRAINT [PK_RECONEDI_Filter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_RECONEDI_Filter]    Script Date: 6/20/2014 4:29:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_RECONEDI_Filter] ON [dbo].[RECONEDI_Filter]
(
	[Utility] ASC,
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx1_RECONEDI_Filter]    Script Date: 6/20/2014 4:29:07 PM ******/
CREATE NONCLUSTERED INDEX [idx1_RECONEDI_Filter] ON [dbo].[RECONEDI_Filter]
(
	[ISO] ASC,
	[Utility] ASC,
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
