<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="LibertyPower" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Integrated Security=SSPI;" />
    <!--<add name="LibertyPower" connectionString="Data Source=LPCDEVSQLINT1\C;Initial Catalog=Libertypower;User Id=smedoncaDelete; Password=Inicial1.;"/>-->
  </connectionStrings>
  <appSettings>
    <!-- FTP Configuration -->
    <add key="FtpUri" value="ftp://ftp.libertypowercorp.com/UsageResponse/" />
    <add key="FtpUser" value="billing_test" />
    <add key="FtpPassword" value="@ngryShape54" />
    <add key="FtpDestination" value="\\LPCNOCFS2\FileManager\UsageResponse\" />
    <add key="BadFilesLocation" value="\\LPCNOCFS2\FileManager\UsageResponse\Bad\" />
    <add key="FilesContetnType" value="text/plain" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Production FTP Configuration -->
    <!--
    <add key="FtpUri" value="ftp://ftp.libertypowercorp.com/PreEnrollUsage/" />
    <add key="FtpUser" value="istausage" />
    <add key="FtpPassword" value="Usage4lpc" />
    <add key="FtpDestination" value="\\lpcnocfs2\nocshares\SSISRequest\PreEnrollUsage\" />
    <add key="BadFilesLocation" value="\\lpcnocfs2\nocshares\SSISRequest\PreEnrollUsage\Bad\" />
    -->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>