USE [Workspace]
GO
/****** Object:  Table [dbo].[NimoCenhudIcapsFromUtility]    Script Date: 10/16/2013 17:02:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NimoCenhudIcapsFromUtility](
	[UtilityCode] [varchar](80) NOT NULL,
	[AccountNumber] [varchar](50) NOT NULL,
	[Icap] [decimal](12, 6) NOT NULL,
	[CorrectedAccountNumber] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NimoCenhudIcapsFromUtility] ([UtilityCode], [AccountNumber], [Icap], [CorrectedAccountNumber]) VALUES (N'NIMO', N'3320054110', CAST(156.840000 AS Decimal(12, 6)), N'3320054110')
INSERT [dbo].[NimoCenhudIcapsFromUtility] ([UtilityCode], [AccountNumber], [Icap], [CorrectedAccountNumber]) VALUES (N'NIMO', N'716983014', CAST(47.640000 AS Decimal(12, 6)), N'0716983014')
INSERT [dbo].[NimoCenhudIcapsFromUtility] ([UtilityCode], [AccountNumber], [Icap], [CorrectedAccountNumber]) VALUES (N'NIMO', N'1564128053', CAST(0.000000 AS Decimal(12, 6)), N'1564128053')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
