<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileManagerContextKey" value="EdiFileParse"/>
    <add key="FileManagerBusinessPurpose" value="EDI File Parsing"/>
    <add key="FileManagerRoot" value="C:\Docs\Projects\EDI\TestFiles\ManagedFiles\"/>
    <add key="FileManagerMaxFilesInPath" value="500"/>
    <add key="FileManagerDeleteOriginal" value="true"/>
    <add key="SerializeEdiFile" value="true"/>
    <add key="SerializedFile" value="C:\Docs\Projects\EDI\FileEdi-**ID**.xml"/>
    <add key="FtpDirectory" value="C:\Docs\Projects\EDI\TestFiles\FtpFiles\"/>
    <add key="TestFilesRoot" value="C:\Docs\Projects\EDI\TestFiles\"/>
  </appSettings>
  
  <connectionStrings>
    <add name="Documents" connectionString="Data Source=sqldev;Initial Catalog=lp_documents;user id=sa;password=N0tr35p@55" providerName="System.Data.SqlClient" />
    <add name="Enrollment" connectionString="Data Source=sqldev;Initial Catalog=lp_enrollment;user id=sa;password=N0tr35p@55" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
