<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccounts" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lpcd7x64-036:8080/Accounts/v1" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAccounts" contract="IAccounts"
          name="BasicHttpBinding_IAccounts" />
    </client>
  </system.serviceModel>
</configuration>