@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Unauthorized Access.</h1>
    <h2 class="error">You are not an authorized user of the web site or this particular web page.</h2>
</hgroup>
