/****** Object:  Table [dbo].[RECONEDI_Tracking]    Script Date: 6/26/2014 4:13:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECONEDI_Tracking](
	[TrackingID] [int] IDENTITY(1,1) NOT NULL,
	[ReconID] [int] NOT NULL,
	[ISO] [varchar](50) NOT NULL,
	[Utility] [varchar](50) NOT NULL,
	[ProcessStep] [varchar](10) NOT NULL,
	[ProcessName] [varchar](255) NOT NULL,
	[ProcessDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RECONEDI_Tracking] PRIMARY KEY CLUSTERED 
(
	[TrackingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [idx_RECONEDI_Tracking]    Script Date: 6/26/2014 4:14:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_RECONEDI_Tracking] ON [dbo].[RECONEDI_Tracking]
(
	[ReconID] ASC,
	[TrackingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx1_RECONEDI_Tracking]    Script Date: 6/26/2014 4:14:00 PM ******/
CREATE NONCLUSTERED INDEX [idx1_RECONEDI_Tracking] ON [dbo].[RECONEDI_Tracking]
(
	[ReconID] ASC,
	[ProcessName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
