/****** Object:  Table [dbo].[RECONEDI_EDIVolume]    Script Date: 6/26/2014 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECONEDI_EDIVolume](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReconEDIAccountID] [int] NOT NULL,
	[YearUsage] [int] NULL,
	[Volume] [decimal](38, 4) NULL,
 CONSTRAINT [PK_RECONEDI_EDIVolume] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [idx_RECONEDI_EDIAccounts]    Script Date: 6/26/2014 4:13:59 PM ******/
CREATE NONCLUSTERED INDEX [idx_RECONEDI_EDIAccounts] ON [dbo].[RECONEDI_EDIVolume]
(
	[ReconEDIAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
