/****** Object:  Table [dbo].[RECONEDI_AccountOut]    Script Date: 6/26/2014 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECONEDI_AccountOut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](100) NULL,
	[ContractNumber] [varchar](100) NULL,
	[UtilityCode] [varchar](100) NULL,
 CONSTRAINT [PK_RECONEDI_AccountOut] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
