<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="Account" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_account;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Common" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_common;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Documents" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_documents;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Ista" connectionString="Data Source=LPCD7X64-010;Initial Catalog=ISTA;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Risk" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_risk;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="HistoricalInfo" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_historical_info;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="OfferEngine" connectionString="Data Source=LPCD7X64-010;Initial Catalog=OfferEngineDB;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="LibertyPower" connectionString="Data Source=LPCD7X64-010;Initial Catalog=LibertyPower;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Enrollment" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_enrollment;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Transactions" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_transactions;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="ERCOT" connectionString="Data Source=LPCD7X64-010;Initial Catalog=ERCOT;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="LPConnectionString" connectionString="Data Source=LPCD7X64-010;Initial Catalog=LibertyPower;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString867" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_Market867;Integrated Security=SSPI;timeout=10" providerName="System.Data.SqlClient"/>
    <add name="lp_documentsConnectionString" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_documents;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->

    <add name="Account" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_account;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Common" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_common;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="DealCapture" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_deal_capture;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Documents" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_documents;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Ista" connectionString="Data Source=LPCD7X64-010;Initial Catalog=ISTA;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Risk" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_risk;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="HistoricalInfo" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_historical_info;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="OfferEngine" connectionString="Data Source=LPCD7X64-010;Initial Catalog=OfferEngineDB;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="LibertyPower" connectionString="Data Source=LPCD7X64-010;Initial Catalog=LibertyPower;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Enrollment" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_enrollment;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Transactions" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_transactions;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="LPConnectionString" connectionString="Data Source=LPCD7X64-010;Initial Catalog=LibertyPower;Integrated Security=SSPI;timeout=10"/>
    <add name="ConnectionString867" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_Market867;Integrated Security=SSPI;timeout=10" providerName="System.Data.SqlClient"/>
    <add name="lp_documentsConnectionString" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_documents;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <!--<add name="LP_MtM" connectionString="Data Source=VM1LPCNOCSQL1;Initial Catalog=LP_MtM;user=sa;password=Sp@c3ch@1r" />-->
    

  </connectionStrings>
  <appSettings>
    <add key="DATABASE_LIBERTYPOWER_CONNECTION" value="Data Source=VM1LPCNOCSQL1;Initial Catalog=LibertyPower;user=sa;password=Sp@c3ch@1r;Connect Timeout=180"/>
    <add key="DATABASE_OFFERENGINE_DATA_CONNECTION" value="Data Source=VM1LPCNOCSQL1;Initial Catalog=OfferEngineDB;user=sa;password=Sp@c3ch@1r;Asynchronous Processing=True;"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="PricesWcf" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="10:00:00" enabled="false" />
          <!--
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
          -->
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51594/PriceService.svc" binding="wsHttpBinding" bindingConfiguration="PricesWcf" contract="PricesWcf.IPriceService" name="PricesWcf">
      </endpoint>
    </client>
  </system.serviceModel>  
</configuration>