<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FtpServer" value="ftp.libertypowercorp.com" />
    <add key="FtpUsername" value="istausage" />
    <add key="FtpPassword" value="Usage4lpc" />
    <add key="FtpDirectory" value="dropedi/" />
    <add key="ConnectToFtp" value="false" />
    <add key="FtpDirectoryIsta" value="dropedi/" />
    <add key="FtpDirectoryESG" value="DropEdiByESG/" />
    <!--<add key="TempDirectoryIsta" value="\\LPCNOCFS2\FileManager\EDIFilesGrabber\drop\"/>
    <add key="TempDirectoryESG" value="\\LPCNOCFS2\FileManager\EDIFilesGrabber\dropESG\"/>
    <add key="NonParserEDIFilesDirectory" value="\\lpcnocfs2\FileManager\EDIFilesGrabber\NonParserEDIFiles\"/>-->
    <add key="TempDirectoryIsta" value="F:\asuarez\FileManager\" />
    <add key="TempDirectoryESG" value="F:\asuarez\FileManager\ESG" />
    <add key="NonParserEDIFilesDirectory" value="F:\asuarez\FileManager\" />
    <add key="TempDirectoryNetwork" value="F:\asuarez\FileManager\TempDirectory\" />
    <add key="DestinationDirectory" value="F:\asuarez\FileManager\DestDirectory\" />
    <add key="LogDirectory" value="F:\asuarez\FileManager\FtpLog\" />
    <add key="LogFile" value="X12Files" />
    <add key="ErrorFile" value="X12Error" />
    <add key="FileMask" value="*.*" />
    <add key="FileManagerDeleteOriginal" value="false" />
    <add key="FileManagerContextKey" value="EdiFileParsing" />
    <add key="FileManagerBusinessPurpose" value="EDI File Parsing" />
    <add key="FileManagerRoot" value="F:\asuarez\FileManager\Root\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <remove name="LibertyPower" />
    <remove name="Transactions" />
    <remove name="Common" />
    <remove name="OfferEngine" />
    <remove name="Ista" />
    <remove name="MSDB" />
    <remove name="DealCapture" />
    <remove name="Enrollment" />
    <remove name="Account" />
    <remove name="ERCOT" />
    <remove name="SQL9" />
    <add name="MSDB" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_commissions;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DealCapture" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Enrollment" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;ntegrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="LibertyPower" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Transactions" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Common" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="OfferEngine" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Ista" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ISTA;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="Account" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_account;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ERCOT" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ERCOT;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SQL9" connectionString="Data Source=LPCNOCSQL9\TRANSACTIONS;Initial Catalog=Ecl;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataSynchronization" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:88/DataSynchronization.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSynchronization" contract="DataSynchronizationServiceReference.IDataSynchronization" name="BasicHttpBinding_IDataSynchronization" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>