<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataSynchronization" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:88/DataSynchronization.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSynchronization"
                contract="DataSynchronizationServiceReference.IDataSynchronization"
                name="BasicHttpBinding_IDataSynchronization" />
        </client>
    </system.serviceModel>
</configuration>