body
{
	font-family: "Segoe UI";
	font-size:11px;
	text-decoration: none;
}

td
{
	border: 1pt solid #a3a3a3;
	padding: 4pt;
	vertical-align: top;
	text-decoration: none;
}
td.wfg
  {
   color: #FFFFFF;
  }
td.heading
{
	font-weight: bold;
	text-decoration: none;
}
table
{
	border-bottom: #a3a3a3 1pt solid;
	border-left: #a3a3a3 1pt solid;
	border-collapse: collapse;
	border-top: #a3a3a3 1pt solid;
	border-right: #a3a3a3 1pt solid;
	text-decoration: none;
}
h1
{
	font-size:36px;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-weight: lighter;
	color: #999;
	font-style: normal;
	text-decoration: none;
}
h2
{
	font-size:16px;
	text-decoration: none;
}
h3
{
	font-size:24px;
	font-weight: lighter;
	text-indent: 10;
	margin-right: 10px;
	padding-right: 10px;
	margin-left: 6px;
	padding-left: 6px;
	text-decoration: none;
	color: #999;
	padding-top: 0px;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
}
.AreaTitles {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 24px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #CCC;
}

ul
{
	padding-left: 0px;
	margin-left: 0px;
	line-height: 30px;
	list-style-type: none;
	text-decoration: none;
}


ul.nobullet {
	list-style-type: none;
	line-height: 30px;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 12px;
	text-decoration: none;
}



div.area
{
	font-weight: lighter;
	color: #999;
	font-variant: normal;
	text-decoration: none;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 18px;
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 6px;
	margin-left: 2px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
}
.NavTitle {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.ApplicationLinks {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	line-height: 30px;
	color: #666;
}
.HeaderTitle {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 45px;
	font-style: normal;
	font-weight: lighter;
	color: #3CF;
	text-align: left;
	text-decoration: none;
}
.IntroBody {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #666;
}
.PageTitle {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 40px;
	font-weight: lighter;
	color: #999;
	font-style: normal;
	line-height: 30px;
}
.ApplicationLinksSub {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #00f;
	text-decoration: none;
	line-height: 20px;
}
.ApplicationLinksNEW {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	color: #F00;
}
.Sections {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #9C0;
	line-height: 12px;
}
.IntroBodyNote {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #F00;
}
.IntroBodyBold {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #666;
}
.SourceLink {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

  a.link {
	font-size:16px;
	color: #06F;
	text-decoration: none;
	font-weight: normal;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
}

  a.link:hover {
	font-size:16px;
	text-decoration: underline;
	color: #06f;
	font-weight: normal;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-style: normal;
}

  a.sourcelink:hover {
	font-size:11px;
	text-decoration: none;
	color: #06F;
	font-weight: normal;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-style: normal;
}
.Background {


}


  a.sourcelink {
	font-size:11px;
	text-decoration: none;
	color: #999;
	font-weight: normal;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-style: normal;
}

.IntroSection {
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	color: #3CF;
	text-align: left;
	text-decoration: none;
}
