USE [lp_transactions]
GO
/****** Object:  StoredProcedure [dbo].[usp_FileUsageSelect]    Script Date: 05/26/2016 15:52:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*******************************************************************************    
 * USP_FILEUSAGEINSERT    
 * GETS FILE USAGE DATA FOR SPECIFIED DATE RANGE    
 *    
 * HISTORY    
 *******************************************************************************    
 * 9/2/2011 - RICK DEIGSLER    
 * CREATED.    
 * 12/17/2015  
 * Modified by Vikas Sharma  
 *******************************************************************************    
 */    
ALTER PROCEDURE [dbo].[usp_FileUsageSelect]    
 @UTILITYCODE   VARCHAR(50),    
 @ACCOUNTNUMBER   VARCHAR(50),    
 @FROMDATE    DATETIME,    
 @TODATE     DATETIME    
AS    
BEGIN    
    SET NOCOUNT ON;    
        
    DECLARE @ID    INT,    
   @FILEACCOUNTID INT,@PREVFILEACCOUNTID INT    
        
     SELECT * INTO #TEMPACCOUNTS  
    FROM LP_ACCOUNT.DBO.UFNGETCHANGEDTABLEVALUE(@ACCOUNTNUMBER)     
                          
       -- GET LATEST FILE UPLOAD    
    SELECT  MAX(ID)  AS FILEACCOUNTID INTO #TEMPFILEACCOUNTID   
    FROM LP_TRANSACTIONS..FILEACCOUNT WITH (NOLOCK)   
    WHERE UTILITYCODE  = @UTILITYCODE    
    AND  ACCOUNTNUMBER IN (SELECT ACCOUNTNO AS ACCOUNTNUMBER FROM #TEMPACCOUNTS(NOLOCK))  
    GROUP BY UTILITYCODE,ACCOUNTNUMBER   
      
      
  
     
 SELECT DISTINCT UTILITYCODE,@ACCOUNTNUMBER ACCOUNTNUMBER, USAGETYPE, USAGESOURCE, FROMDATE, TODATE,     
   TOTALKWH, DAYSUSED, METERNUMBER, ONPEAKKWH, OFFPEAKKWH, INTERMEDIATEKWH, BILLINGDEMANDKW,     
   MONTHLYPEAKDEMANDKW, MONTHLYOFFPEAKDEMANDKW    
 FROM LP_TRANSACTIONS..FILEUSAGE WITH (NOLOCK)    
 WHERE FILEACCOUNTID IN (SELECT FILEACCOUNTID FROM #TEMPFILEACCOUNTID(NOLOCK))  
 AND  FROMDATE  >= @FROMDATE    
 AND  TODATE   <= @TODATE    
 ORDER BY FROMDATE DESC    
    
    SET NOCOUNT OFF;    
END    
-- COPYRIGHT 2011 LIBERTY POWER    
  