@model  UtilityManagement.Models.UnauthorizedUserModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Welcome to the Liberty Power Utility Management Web Site!";
}


<div  id="inPageHelpCollapseDiv">
   
<div id="opendiv"  class="HelpVisorContainer">
	  
     <div class="ContainerPanel" id="containerPanel">
	 <div id="widthSetter">
		<table border="0" id="tableBase" class="Table_Base">
        <tbody><tr>
			<td class="VideoContainer" rowspan="2">
				<a id="linkvideoimage" title="Watch an overview video" 
                    onkeypress="if (enterPressed(event)) { OpenWindow('http://go.microsoft.com/fwlink/?LinkID=207583','video'); }"
                     onclick="OpenWindow('http://go.microsoft.com/fwlink/?LinkID=207583','video');" class="videoimage" tabindex="1">
                    <img src="~/images/blank.gif" alt="Watch an overview video" class="VideoImagePicture ImageStrip"></a>
				<div class="videolinkdiv">
				<table class="VideoLinkContainer">
					<tbody><tr>
						<td class="videolink">	
							<span title="Overview Diagram">
								<a id="linkdiagramtext" onkeypress="if (enterPressed(event)) { OpenWindow('http://go.microsoft.com/fwlink/?LinkID=207583','diagram'); }" onclick="OpenWindow('http://go.microsoft.com/fwlink/?LinkID=207583','diagram');" tabindex="2">
								Overview</a>
							</span>
						</td>
						<td class="videolinkspacing">
							|
						</td>
						<td class="videolink"> 
							<span title="Watch an overview video">
								<a id="linkvideotext" onkeypress="if (enterPressed(event)) { OpenWindow('http://go.microsoft.com/fwlink/?LinkID=207587','video'); }" onclick="OpenWindow('http://go.microsoft.com/fwlink/?LinkID=207587','video');" tabindex="3">
								Video</a>
							</span>
						</td>
					</tr>
				</tbody></table>
				</div>
			</td>
            <td class="Cell_TitleDescription">
                <table border="0" class="Table_TitleDescription">
                    <tbody><tr>
                        <td id="title" class="TitleSection">
							<div  title="Welcome to Microsoft Dynamics CRM" class="HeaderTruncater" >
							Welcome to Liberty Power Utility Management CRM
							</div>
							
                        </td>
                    </tr>
                    <tr>
                        <td id="description" class="DescriptionSection" style="visibility: visible; height: 17px;">
							<div id="dt" title="Key steps to quickly learn the most common tasks in Microsoft Dynamics CRM" class="DescriptionTruncater" style="height: 14px;">
                            Key steps to quickly learn the most common tasks in Utility Management CRM.
							</div>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
            <td class="Cell_ColumnLists" colspan="3">
                <table  class="Table_Steps" id="tableStepsEnd">
                    <tbody><tr>
                        <td class="TableStepsMidSection">
                            <table  class="Table_Content">
                                <tbody><tr id="ColumnTitleRow">
                                    <td id="ct1" class="ColumnTitle1 ImageStrip" style="width: 50%;">
										<div title="For Users" id="expanderct1" class="expander colorStrip1">
											<div class="columnOneHeaderTruncutter" id="ctText1">For Users</div>
										</div>
                                    </td>
                                    <td id="ct2" class="ColumnTitle2 ImageStrip" style="width: 50%;">
										<div title="Configure" id="expanderct2" class="expander colorStrip2">
												<div id="cn2" class="columnNumber"></div>Configure
										</div>
                                    </td>
                                </tr>
                                <tr class="ContentSections">
                                    <td id="c1">
                                        <div id="ec1" class="expander">
                                            <div class="item" id="div_column1_item1"><img class="glyph_image ImageStrip ActionImage" src="~/Images/blank.gif" alt=""><ul class="actionlist"><li id="li_column1_item1"><a href="#">Add My Accounts and Contacts</a></li></ul></div>
                                            <div class="item" id="div_column1_item2"><img class="glyph_image ImageStrip ItemImage" src="~/Images/blank.gif" alt=""><ul class="itemlist"><li id="li_column1_item2"><a href="#" >About Setting Up Email</a></li></ul></div>
                                            <div class="item" id="div_column1_item3"><img class="glyph_image ImageStrip ItemImage" src="~/Images/blank.gif" alt=""><ul class="itemlist"><li id="li_column1_item3"><a href="#">More...</a></li></ul></div>
                                        </div>
                                    </td>
                                    <td id="c2">
                                        <div id="ec2" class="expander">
                                        <div class="item" id="div_column2_item1"><img class="glyph_image ImageStrip ItemImage" src="~/Images/blank.gif" alt=""><ul class="itemlist"><li id="li_column2_item1"><a href="#">About Dashboards</a></li></ul></div>
                                        <div class="item" id="div_column2_item2"><img class="glyph_image ImageStrip ItemImage" src="~/Images/blank.gif" alt=""><ul class="itemlist"><li id="li_column2_item2"><a href="#">Turn Off the Get Started Pane</a></li></ul></div>
                                        <div class="item" id="div_column2_item3"><img class="glyph_image ImageStrip ActionImage" src="~/Images/blank.gif" alt=""><ul class="actionlist"><li id="li_column2_item3"><a href="#">Add or Remove Sample Data</a></li></ul></div>

                                        </div>
                                    </td>
									
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody></table>
</div>
</div>
</div>
     <a href="#" class="visor-sliver-up" onclick="openPanel('opendiv','toparrow')"> <img id="toparrow" class="panelup" src ="../Images/arrow_down.png" onclick="showHide('hideDiv',this.id)" 
        style="text-decoration:none;border:none;"/></a>
	
</div>
   

<div class="form-details">
    <div class="form-information">
        <div class="form-title-general">Unauthorized Access</div>
        </div>
    <div class="details-data-section">
            <td class="home_blog">
                <table class="home_table">
    <tr>
		<td class="tbl-title"><h3>Unauthorized Access</h3></td>
    </tr>
	<tr>
        <td class="tbl-title"><img style="text-align:center;height:150px;width:150px;" src="~/Images/stoptalktothehand.png" /></td>
    </tr>
    <tr>
      @*  @if (Session["UtilityManagement_UserName"] == null || string.IsNullOrWhiteSpace(Session["UtilityManagement_UserName"].ToString()))
        {
            <td class="tbl-title"><h4>You are not logged in.</h4></td>
        }
        else
        {
            *@<td class="tbl-title"><h4>You do not have access to @Model.ActivityName, please contact your administrator.</h4></td>
        @*}*@
    </tr>
    <tr><td class="tbl-title"><h3>&nbsp;</h3></td></tr>
    <tr><td class="tbl-title"><h3>&nbsp;</h3></td></tr>
    <tr><td class="tbl-title"><h3>&nbsp;</h3></td></tr>
</table>
            </div>
            </div>
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });
