@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">File Not Found.</h1>
    <h2 class="error">The Requested File Could Not Be Found.</h2>
</hgroup>
