USE [OnlineEnrollment]
GO
/****** Object:  Table [dbo].[ServiceRateClass]    Script Date: 10/11/2013 11:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO


CREATE TABLE [dbo].[ServiceRateClass](
	[ServiceRateClassId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceRateClass] [varchar](50) NULL,
	[MarketCode] [varchar](2) NULL,
	[UtilityCode] [varchar](15) NULL,
	[RatecodeFileMapping] [varchar](50) NULL,
	[IstaMapping] [int] NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_ServiceRateClass] PRIMARY KEY CLUSTERED 
(
	[ServiceRateClassId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceRateClass] ON
INSERT [dbo].[ServiceRateClass] ([ServiceRateClassId], [ServiceRateClass], [MarketCode], [UtilityCode], [RatecodeFileMapping], [IstaMapping], [Created]) VALUES (1, N'2', N'NY', N'CONED', NULL, NULL, CAST(0x000098D301095E18 AS DateTime))
INSERT [dbo].[ServiceRateClass] ([ServiceRateClassId], [ServiceRateClass], [MarketCode], [UtilityCode], [RatecodeFileMapping], [IstaMapping], [Created]) VALUES (2, N'9', N'NY', N'CONED', NULL, 1, CAST(0x000098D30109EEE4 AS DateTime))
INSERT [dbo].[ServiceRateClass] ([ServiceRateClassId], [ServiceRateClass], [MarketCode], [UtilityCode], [RatecodeFileMapping], [IstaMapping], [Created]) VALUES (11, N'GS Type II', N'MD', N'BGE', NULL, NULL, CAST(0x000098D600EBC1C7 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
SET IDENTITY_INSERT [dbo].[ServiceRateClass] OFF
