<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>


  <connectionStrings>
    <remove name="LibertyPower" />
    <remove name="Transactions" />
    <remove name="Common" />
    <remove name="OfferEngine" />
    <remove name="Ista" />
    <remove name="DealCapture" />
    <remove name="Enrollment" />
    <remove name="MSDB" />
    <add name="LibertyPower" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Transactions" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="Common" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="OfferEngine" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="CRM" connectionString="Data Source=LPCNOCCRMSQL;Initial Catalog=LIBERTYCRM_MSCRM;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="Ista" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ISTA;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="DealCapture" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="Enrollment" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="MSDB" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=msdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="TXNS" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="Account" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_account;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="Documents" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_documents;user id=sa;password=Sp@c3ch@1r;timeout=360" providerName="System.Data.SqlClient"/>		
		<add name="Risk" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_risk;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="HistoricalInfo" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_historical_info;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>  	    
		<add name="ERCOT" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ERCOT;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="OraAspNetConString" connectionString=" "/>

		
    	<!--STANDARDIZED CONNECTION STRINGS-->		
    
		<add name="ErcotConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ERCOT;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="IstaConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ISTA;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="IntegrationConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=integration;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LibertyPowerConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_AccountConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_account;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_CommissionsConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_commissions;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_CommonConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_Contract_RenewalConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_contract_renewal;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_Deal_CaptureConnectionstring" connectionString="Server=LPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;user=sa;password=Sp@c3ch@1r;" providerName="System.Data.SqlClient"/>
		<add name="LP_DocConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_doc;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_DocumentsConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_documents;user=sa;password=Sp@c3ch@1r;Connect Timeout=360;Application Name=DocManagementWebService" providerName="System.Data.SqlClient"/>
		<add name="LP_EnrollmentConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_Historical_InfoConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_historical_info;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_LeadConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_lead;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_OfferEngineDBConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_PortalConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_portal;UID=sa;pwd=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_ReconConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_recon;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_ReportsConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LP_Reports;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_ReportServerConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LP_ReportServer;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_RiskConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_risk;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_SecurityConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD; Initial Catalog=lp_security;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_TransactionsConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="LP_WebsiteConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_websiteConnectionString;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		<add name="OrderManagementConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=OrderManagement;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
		
    		<!--LPCNOCSQL9-->		
    
		<add name="LP_MtM" connectionString="Data Source=LPCNOCSQL9\TRANSACTIONS;Initial Catalog=LP_MtM;user id=MtMWsAccess;password=MtMWsAccess@9" providerName="System.Data.SqlClient"/>
	
     <!--Sadiel added these--> 
    
                <add name="IntegrationEntities" connectionString="metadata=res://*/Integration.csdl|res://*/Integration.ssdl|res://*/Integration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=integration;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
                <add name="EnrollmentContainer" connectionString="metadata=res://*/Enrollment.csdl|res://*/Enrollment.ssdl|res://*/Enrollment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=lp_enrollment;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
                <add name="AccountContainer" connectionString="metadata=res://*/Account.csdl|res://*/Account.ssdl|res://*/Account.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=lp_account;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
                <add name="LibertyPowerEntities" connectionString="metadata=res://*/LibertyPower.csdl|res://*/LibertyPower.ssdl|res://*/LibertyPower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=Libertypower;persist security info=True;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
                <add name="Lp_AccountEntities" connectionString="metadata=res://*/LpAccount.csdl|res://*/LpAccount.ssdl|res://*/LpAccount.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=Lp_Account;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
                <add name="Lp_commonEntities" connectionString="metadata=res://*/LpCommon.csdl|res://*/LpCommon.ssdl|res://*/LpCommon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=Lp_common;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
                <add name="LpDealCaptureEntities" connectionString="metadata=res://*/LpDealCapture.csdl|res://*/LpDealCapture.ssdl|res://*/LpDealCapture.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=Lp_deal_capture;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SystemId" value="1"/>
    <!--Matches entry in CrmConnect System table: set to [1] if not sure-->

    <add key="ADFS" value="0"/>
    <!--0=No, 1=Yes-->
    <add key="Server" value="online1.libertypowercorp.com"/>
    <!--Server:Port-->
    <add key="SSL" value="1"/>
    <!--0=HTTP, 1=HTTPS-->
    <add key="OrgName" value="LibertyCRM"/>
    <!--The Org to connect to-->

    <!--Credentials are used for ADFS environments, othewise leave blank-->
    <add key="Domain" value=""/>
    <add key="User" value=""/>
    <add key="Pwd" value=""/>
    <add key="LastTxn" value="0"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="Chainsaw" name="viewer" address="udp://127.0.0.1:9000">
        <parameter layout="${message}" name="Message"/>
        <parameter layout="${exception:format=tostring}" name="Exception"/>
        <parameter layout="${stacktrace}" name="StackTrace"/>
      </target>
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}${newline} ${exception:innerFormat=Message:maxInnerExceptionLevel=10:format=Message}${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=10:format=StackTrace}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" encoding="iso-8859-2" autoFlush="true" archiveAboveSize="300000" archiveNumbering="Sequence" ConcurrentWrites="false"></target>
    </targets>
    <rules>
      <!--Levels in order: Trace,Debug,Info,Warn,Error,Fatal,Off-->
      <logger name="*" minlevel="Trace" writeTo="viewer"/>
      <logger name="*" minLevel="Error" appendTo="file"/>
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
