USE LibertyPower
GO
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON

GO
IF  EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS WHERE  CONSTRAINT_TYPE = 'PRIMARY KEY'
    AND TABLE_NAME = 'VRE_ServiceClassMapping' 
    AND TABLE_SCHEMA ='dbo' )
ALTER TABLE dbo.VRE_ServiceClassMapping
	DROP CONSTRAINT PK_VRE_ServiceClassMapping_1
GO
ALTER TABLE dbo.VRE_ServiceClassMapping ADD CONSTRAINT
	PK_VRE_ServiceClassMapping_1 PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.VRE_ServiceClassMapping SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
