<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibertyPower.DataAccess.WebServiceAccess.IstaWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LibertyPower.DataAccess.WebServiceAccess.IstaWebService.Properties.Settings>
            <setting name="IstaWebService_IstaCustomerService_CustomerService"
                serializeAs="String">
                <value>http://uat.ws.libertypowerbilling.com/CustomerService.asmx</value>
            </setting>
            <setting name="IstaWebService_CustomerService_CustomerService"
                serializeAs="String">
                <value>http://uat.ws.libertypowerbilling.com/CustomerService.asmx</value>
            </setting>
            <setting name="IstaWebService_com_libertypowerbilling_ws_uat_RateService"
                serializeAs="String">
                <value>http://ua.ws.libertypowerbilling.com/RateService.asmx</value>
            </setting>
            <setting name="IstaWebService_IstaInvoiceService_InvoiceService"
                serializeAs="String">
                <value>http://uat.ws.libertypowerbilling.com/InvoiceService.asmx</value>
            </setting>
            <setting name="IstaEnrollmentWebService"
                serializeAs="String">
                <value>https://ua.ws.libertypowerbilling.com/EnrollmentService.asmx</value>
            </setting>
            <setting name="IstaWebService_IstaBillingService_Rate" serializeAs="String">
                <value>http://ws.services.ista-billing.com/api/Rate.asmx</value>
            </setting>
            <setting name="IstaWebService_RequestService_Request" serializeAs="String">
                <value>http://lpcnocws4:8077/Request.svc</value>
            </setting>
        </LibertyPower.DataAccess.WebServiceAccess.IstaWebService.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_RequestService_Request" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lpcnocws4:8077/Request.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_RequestService_Request"
                contract="RequestService.Request"
                name="BasicHttpBinding_RequestService_Request" />
    </client>
  </system.serviceModel>
</configuration>