USE [Libertypower]
GO
/****** Object:  Table [dbo].[SalesChannelMultiTerm]    Script Date: 09/13/2012 08:20:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SalesChannelMultiTerm]') AND type in (N'U'))
DROP TABLE [dbo].[SalesChannelMultiTerm]
GO
/****** Object:  Table [dbo].[SalesChannelMultiTerm]    Script Date: 09/13/2012 08:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SalesChannelMultiTerm]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SalesChannelMultiTerm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelID] [int] NOT NULL,
	[UtilityID] [int] NOT NULL,
 CONSTRAINT [PK_SalesChannelMultiTerm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
