<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICommonServices" />
        <binding name="WSHttpBinding_IOrderEntry" sendTimeout="00:10:00" />
        <!--<binding maxBufferPoolSize="2147483647" name="WSHttpBinding_WithCertificate"  maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="2147483647"
					   maxArrayLength="2147483647" maxBytesPerRead="2147483647"
					   maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>-->
        <binding name="WSHttpBinding_IPricingService" />
        <binding name="WSHttpBinding_ICRMTesting" />
        <binding name="WSHttpBinding_IDocumentService" maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_IChannelManagementService" />
      </wsHttpBinding>
    </bindings>
	<behaviors>
		 <!--DEVORDERS CONFIG-->
		 <!--<endpointBehaviors>
			<behavior name="OrdersAPIServiceBehavior">
			 <clientCredentials>
            <clientCertificate findValue="LPDevCertificateClient" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
			  <serviceCertificate>
			   <authentication certificateValidationMode="PeerTrust"/>
			  </serviceCertificate>
			 </clientCredentials>
			</behavior>
		   </endpointBehaviors>-->
	</behaviors>
    <client>

      <endpoint address="http://localhost:57373/OrderEntry.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderEntry"
        contract="OrderEntryAPI.IOrderEntry" name="WSHttpBinding_IOrderEntry" />
      <!--DEVORDERS CONFIG-->
      <!--<endpoint address="http://devordersapi.libertypowercorp.com/OrderEntry.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WithCertificate"
        contract="OrderEntryAPI.IOrderEntry" name="WSHttpBinding_IOrderEntry"  behaviorConfiguration="OrdersAPIServiceBehavior" >
        <identity>          
          <dns value="LPDevCertificateServer"/>
        </identity>
      </endpoint>-->
      <endpoint address="http://localhost:57373/PricingService.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPricingService"
        contract="PricingServiceAPI.IPricingService" name="WSHttpBinding_IPricingService" />
      <endpoint address="http://localhost:57373/CRMTesting.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICRMTesting"
        contract="OrderEntryAPI.ICRMTesting" name="WSHttpBinding_ICRMTesting" />
      <!--DEVORDERS CONFIG-->
      <!--<endpoint address="http://devordersapi.libertypowercorp.com/CRMTesting.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WithCertificate"
        contract="OrderEntryAPI.ICRMTesting" name="WSHttpBinding_ICRMTesting"  behaviorConfiguration="OrdersAPIServiceBehavior" >
        <identity>
          <dns value="LPDevCertificateServer"/>
        </identity>
      </endpoint>-->
      <endpoint address="http://localhost:57373/DocumentService.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentService"
        contract="DocumentServiceAPI.IDocumentService" name="WSHttpBinding_IDocumentService" />
      <endpoint address="http://localhost:57373/ChannelManagementService.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IChannelManagementService"
        contract="ChannelManagementAPI.IChannelManagementService" name="WSHttpBinding_IChannelManagementService">
        <identity>
				<dns value="LPDevCertificateServer" />
			</identity>
		</endpoint>
      <endpoint address="http://devordersapi.libertypowercorp.com/PricingService.svc/Secure"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPricingService" behaviorConfiguration="OrdersAPIServiceBehavior"
        contract="PricingServiceAPI.IPricingService" name="WSHttpBinding_IPricingService" >
			<identity>
				<dns value="LPDevCertificateServer" />
			</identity>
		</endpoint>
		<endpoint address="http://devordersapi.libertypowercorp.com/CRMTesting.svc/Secure"
		  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WithCertificate" behaviorConfiguration="OrdersAPIServiceBehavior"
		  contract="OrderEntryAPI.ICRMTesting" name="WSHttpBinding_ICRMTesting" >
			<identity>
				<dns value="LPDevCertificateServer" />
			</identity>
		</endpoint>
      <endpoint address="http://devordersapi.libertypowercorp.com/DocumentService.svc/Secure" behaviorConfiguration="OrdersAPIServiceBehavior"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WithCertificate"
        contract="DocumentServiceAPI.IDocumentService" name="WSHttpBinding_IDocumentService" >
			<identity>
				<dns value="LPDevCertificateServer" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--<remove name="LibertyPowerEntities"/>
    <remove name="Lp_AccountEntities"/>
    <remove name="Lp_commonEntities"/>
    <remove name="LpDealCaptureEntities"/>
    <add name="LibertyPowerEntities" connectionString="metadata=res://*/LibertyPower.csdl|res://*/LibertyPower.ssdl|res://*/LibertyPower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=LibertyPower;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Lp_AccountEntities" connectionString="metadata=res://*/LpAccount.csdl|res://*/LpAccount.ssdl|res://*/LpAccount.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Lp_Account;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Lp_commonEntities" connectionString="metadata=res://*/LpCommon.csdl|res://*/LpCommon.ssdl|res://*/LpCommon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Lp_common;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LpDealCaptureEntities" connectionString="metadata=res://*/LpDealCapture.csdl|res://*/LpDealCapture.ssdl|res://*/LpDealCapture.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Lp_deal_capture;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
	
  </appSettings>
</configuration>