Begin
 

      IF EXISTS (
            SELECT *
            FROM sys.tables
            WHERE name LIKE '#TempZIP')
      BEGIN
            DROP TABLE #TempZIP
            CREATE TABLE #TempZIP ( ZipCode nvarchar( 255 ), retail_mkt_id nvarchar(255),utility nvarchar(255))
      END


/****** Object:  Table  [#TempZIP]    Script Date: 10/20/2014 11:48:12 ******/
INSERT  [#TempZIP] ([ZipCode], [retail_mkt_id], [utility]) VALUES (N'01001', N'MA', N'WMECO')
INSERT  [#TempZIP] ([ZipCode], [retail_mkt_id], [utility]) VALUES (N'01002', N'MA', N'MECO')
INSERT  [#TempZIP] ([ZipCode], [retail_mkt_id], [utility]) VALUES (N'01002', N'MA', N'WMECO')

print 'Processed 100 total records'

print 'Processed 200 total records'

print 'Processed 300 total records'

print 'Processed 400 total records'
print 'Processed 500 total records'



Declare @ZipCode nvarchar(50)
Declare @utilityCode nvarchar(50)
Declare @utilityID int
Declare @City varchar(255)
Declare @lat float
declare @long float
declare C1 Cursor fast_forward
for
Select Distinct  T.ZipCode,utility, Z.City,Z.Latitude,Z.Longitude from [#TempZIP] T Inner Join Libertypower..Zip Z (NoLock)
on T.ZipCode=Z.ZipCode

Open C1
fetch Next from C1 into @ZipCode,@utilityCode,@City,@lat, @long

While @@FETCH_STATUS=0
Begin


If not exists (Select * from LIbertyPower..Zip Z (NOLock) inner Join LIbertypower..utility U (NoLock) on Z.UtilityID=U.ID
 where Z.State='MA' and Z.ZipCode=@ZipCode and U.UtilityCode=@utilitycode  )
Begin

Set @utilityID= (Select top 1 ID from Libertypower..Utility (NoLock) where UtilityCode= @utilityCode)

Insert into LIbertypower..Zip(ZipCode,Latitude,Longitude,State,City,MarketID,UtilityID,ZoneID,County,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate)
Values (@ZipCode,@lat,@long,'MA',@City,4,@utilityID,0,NULL,1982,GETDATE(),1982,GETDATE())
End

fetch Next from C1 into @ZipCode,@utilityCode,@City,@lat, @long
END 
CLOSE C1;
DEALLOCATE C1;



If exists (Select * from LIbertyPower..Zip Z (NOLock) where Z.State='MA' and ZoneID=0 )
Begin

Update LIbertyPower..Zip SET ZoneID=Zn.zone_id from LIbertyPower..Zip Z (NoLock)
Inner join LIbertyPower..Utility U (noLock)
on Z.UtilityID=U.ID
Inner Join lp_deal_capture..zip_to_zone Zz (NoLock)
on Zz.utility=UtilityCode
and ZZ.zip_code=Z.ZipCode
Inner Join Lp_Common..zone Zn(NoLock)
on Zn.utility_id=ZZ.utility
and Zn.zone=ZZ.zone
where Z.State='MA' and Z.ZoneID=0

End




      IF EXISTS (
            SELECT *
            FROM sys.tables
            WHERE name LIKE '#TempZIP')
      BEGIN
            DROP TABLE #TempZIP
      END



END
GO

   
   
   