Begin
 

BEGIN
IF EXISTS (
SELECT *
FROM sys.tables
WHERE name LIKE '#TempZIP')
DROP TABLE #TempZIP
CREATE TABLE #TempZIP ( ZipCode nvarchar( 255 ), retail_mkt_id nvarchar(255),utility nvarchar(255))
END

/****** Object:  Table  [#TempZIP]    Script Date: 10/20/2014 11:48:12 ******/
INSERT  [#TempZIP] ([ZipCode], [retail_mkt_id], [utility]) VALUES (N'01001', N'MA', N'WMECO')
INSERT  [#TempZIP] ([ZipCode], [retail_mkt_id], [utility]) VALUES (N'01002', N'MA', N'MECO')
INSERT  [#TempZIP] ([ZipCode], [retail_mkt_id], [utility]) VALUES (N'01002', N'MA', N'WMECO')

print 'Processed 100 total records'

print 'Processed 200 total records'

print 'Processed 300 total records'

print 'Processed 400 total records'
print 'Processed 500 total records'


If exists (Select * from LIbertyPower..Zip Z (NOLock) where Z.State='MA' and MarketId=0 )
Begin

Update LIbertyPower..Zip set MarketID=4, UtilityID=U.ID
from LIbertyPower..Zip Z (NOLock)
Inner Join [#TempZIP] S(NOLock)
on Z.ZipCode=S.ZipCode
Inner Join LIbertypower..Utility U (NoLock)
on U.UtilityCode=S.utility
where Z.State='MA' and  Z.MarketID=0 

End

If exists (Select * from LIbertyPower..Zip Z (NOLock) where Z.State='MA' and ZoneID=0 )
Begin

Update LIbertyPower..Zip SET ZoneID=Zn.zone_id from LIbertyPower..Zip Z (NoLock)
Inner join LIbertyPower..Utility U (noLock)
on Z.UtilityID=U.ID
Inner Join lp_deal_capture..zip_to_zone Zz (NoLock)
on Zz.utility=UtilityCode
and ZZ.zip_code=Z.ZipCode
Inner Join Lp_Common..zone Zn(NoLock)
on Zn.utility_id=ZZ.utility
and Zn.zone=ZZ.zone
where Z.State='MA' and Z.ZoneID=0

End

Drop  TABLE #TempZIP


BEGIN
IF EXISTS (
SELECT *
FROM sys.tables
WHERE name LIKE '#TempZIP')
DROP TABLE #TempZIP
END


END
GO

   