<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ConnectionStringName" value="LP_TransactionsConnectionString" />
    <add key="PollInterval" value="5" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="Chainsaw" name="viewer" address="udp://127.0.0.1:9000">
        <parameter layout="${message}" name="Message" />
        <parameter layout="${exception:format=tostring}" name="Exception" />
        <parameter layout="${stacktrace}" name="StackTrace" />
      </target>
      <target xsi:type="UsageEvents" name="UsageEvents" layout="${longdate} ${uppercase:${level}} ${message}" />
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}${newline} ${exception:innerFormat=Message:maxInnerExceptionLevel=10:format=Message}${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=10:format=StackTrace}" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" encoding="iso-8859-2" autoFlush="true" archiveAboveSize="300000" archiveNumbering="Sequence" ConcurrentWrites="false"></target>
    </targets>
    <rules>
      <!--Levels in order: Trace,Debug,Info,Warn,Error,Fatal,Off-->
      <logger name="*" minlevel="Trace" writeTo="viewer" />
      <logger name="*" minLevel="Error" appendTo="file" />
      <logger name="*" minlevel="Trace" writeTo="UsageEvents" />
    </rules>
  </nlog>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>