<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="UtilityLogging.ILogger, UtilityLogging" mapTo="UtilityLogging.Logger, UtilityLogging" />
    </container>
  </unity>
  <connectionStrings>
    <clear />
    <add name="ConnectionString867" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_Market867;user id=sa;password=Sp@c3ch@1r;timeout=10" providerName="System.Data.SqlClient" />
    <add name="Account" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_account;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Common" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="DealCapture" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Documents" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_documents;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Ista" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=ISTA;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Risk" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_risk;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="HistoricalInfo" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_historical_info;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="OfferEngine" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="LibertyPower" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Enrollment" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Workspace" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=Workspace;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Transactions" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="LPConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;user id=sa;password=Sp@c3ch@1r;timeout=10" />
    <add name="ConnectionString867" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_Market867;user id=sa;password=Sp@c3ch@1r;timeout=10" providerName="System.Data.SqlClient" />
    <add name="lp_documentsConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_documents;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ContractRenewalConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_contract_renewal;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="conn_str_lp_security" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_security;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="LibertyPowerConnectionString" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="MSDB" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=msdb;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="Reports" connectionString="Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_reports;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient" />
    <add name="LP_MtM" connectionString="Data Source=LPCNOCSQL9\TRANSACTIONS;Initial Catalog=LP_MtM;user id=MtMWsAccess;password=MtMWsAccess@9" providerName="System.Data.SqlClient" />
    <add name="LibertyPowerEntities" connectionString="metadata=res://*/LibertyPower.csdl|res://*/LibertyPower.ssdl|res://*/LibertyPower.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Persist Security Info=True;uid=sa;password=Sp@c3ch@1r;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LPEntities" connectionString="metadata=res://*/LibertyPower.csdl|res://*/LibertyPower.ssdl|res://*/LibertyPower.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;Persist Security Info=True;uid=sa;password=Sp@c3ch@1r;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Lp_AccountEntities" connectionString="metadata=res://*/LpAccount.csdl|res://*/LpAccount.ssdl|res://*/LpAccount.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=Lp_Account;Persist Security Info=True;uid=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Lp_commonEntities" connectionString="metadata=res://*/LpCommon.csdl|res://*/LpCommon.ssdl|res://*/LpCommon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Data Source=LPCNOCSQLINT1\PROD;Initial Catalog=lp_common;Persist Security Info=True;uid=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LpDealCaptureEntities" connectionString="metadata=res://*/LpDealCapture.csdl|res://*/LpDealCapture.ssdl|res://*/LpDealCapture.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LPCNOCSQLINT1\PROD;initial catalog=Lp_deal_capture;Persist Security Info=True;uid=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IstaClientGuid" value="153CED9F-F788-4D0D-B5AE-9D5C28BB261F" />
    <add key="IstaCustomerWebService" value="https://ws.libertypowerbilling.com/CustomerService.asmx" />
    <add key="IstaEnrollmentWebService" value="https://ws.libertypowerbilling.com/EnrollmentService.asmx" />
    <add key="IstaInvoiceWebService" value="https://ws.libertypowerbilling.com/InvoiceService.asmx" />
    <add key="IstaRateWebService" value="https://ws.libertypowerbilling.com/RateService.asmx" />
    <add key="ISTA_WEB_SERVICE_URL" value="https://ws.libertypowerbilling.com/api/Enrollment.asmx" />
    <add key="LOGGER_NAME" value="SmucLogger" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LOGGER_NAME" value="SMUCLogger" />
  </appSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Log4Net/.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="15" />
      <maximumFileSize value="1MB" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="SMUCLogger">
      <level value="Debug" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" targetFramework="4.5" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsage" >
 <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>
   </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://lpcnocwsdelta1:8089/Usage.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsage" contract="UsageServiceWcf.IUsage" name="BasicHttpBinding_IUsage" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>