<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="UtilityLogging.ILogger, UtilityLogging" mapTo="UtilityLogging.Logger, UtilityLogging" />
      <register type="UtilityManagementBusinessLayer.IBusinessLayer, UtilityManagementBusinessLayer" mapTo="UtilityManagementBusinessLayer.BusinessLayer, UtilityManagementBusinessLayer" />
      <register type="UtilityManagementRepository.IDataRepository, UtilityManagementRepository" mapTo="UtilityManagementRepository.DataRepositoryEntityFramework, UtilityManagementRepository" />
    </container>
  </unity>
  <!--<appSettings><add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" /></appSettings>-->
  <appSettings>
    <add key="LOGGER_NAME" value="AuthorizationServiceLogger"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--<system.web><compilation debug="true" /></system.web>-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>  <!-- When deploying the service library project, the content of the config file must be added to the host's app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="AuthorizationService.AuthorizationService">
        <endpoint address="" binding="basicHttpBinding" contract="AuthorizationService.IAuthorizationService">
          <identity><dns value="localhost" /></identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses><add baseAddress="http://localhost:8733/Design_Time_Addresses/AuthorizationService/AuthorizationService/" /></baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="LibertyPowerConnectionString" connectionString="data source=sqldev,1433;initial catalog=LibertyPower;user=sa;password=N0tr35p@55;timeout=10"/>-->
    <add name="LibertyPowerConnectionString" connectionString="Data Source=(local);initial catalog=LibertyPower;user=test;password=N0tr35p@55;timeout=10"/>
    <add name="common_product_rate" connectionString="Data Source=(local);Initial Catalog=lp_common;Integrated Security=SSPI;timeout=10"/>
    <!--<add name="lp_commissions" connectionString="Data Source=LPCD7X64-010;Initial Catalog=lp_commissions;Integrated Security=SSPI;timeout=10"/>-->
  </connectionStrings>
  <!--<OMS ADUserName="webappauth_svc" ADPassword="P@55@uthen" ADDomain="libertypower.local" FrameworkAccountName="FrameworkAccount" FrameworkAccountID="1" OMSRoles="RCM_ADMIN, RCM_USER"/>-->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Log4Net/.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="15" />
      <maximumFileSize value="1MB" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="AuthorizationServiceLogger">
      <level value="Debug" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
</configuration>