<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <connectionStrings>
      <add name="MSDB" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=msdb;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="SQL9" connectionString="Data Source=LPCNOCSQL9\TRANSACTIONS;Initial Catalog=Ecl;Integrated Security=True" providerName="System.Data.SqlClient"/>
      <!--<add name="ECLCloud" connectionString="Data Source=WIN-TA9J366ROSJ;Initial Catalog=MARKET;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
      <add name="ECLCloud" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="DealCapture" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
      <add name="Account" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_account;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="Common" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_common;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="Documents" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_documents;user id=sa;password=Sp@c3ch@1r;timeout=360" providerName="System.Data.SqlClient"/>
      <add name="Ista" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=ISTA;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="Risk" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_risk;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="HistoricalInfo" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_historical_info;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="OfferEngine" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LibertyPower" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="Enrollment" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="Transactions" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="ERCOT" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=ERCOT;user id=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="OraAspNetConString" connectionString=" "/>
      <!--  STANDARDIZED CONNECTION STRINGS    -->
      <add name="ErcotConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=ERCOT;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="IstaConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=ISTA;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="IntegrationConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=integration;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LibertyPowerConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=LibertyPower;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_AccountConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_account;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_CommissionsConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_commissions;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_CommonConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_common;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_Contract_RenewalConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_contract_renewal;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_Deal_CaptureConnectionstring" connectionString="Server=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_deal_capture;user=sa;password=Sp@c3ch@1r;" providerName="System.Data.SqlClient"/>
      <add name="LP_DocConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_doc;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_DocumentsConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_documents;user=sa;password=Sp@c3ch@1r;Connect Timeout=360;Application Name=DocManagementWebService" providerName="System.Data.SqlClient"/>
      <add name="LP_EnrollmentConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_enrollment;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_Historical_InfoConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_historical_info;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_LeadConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_lead;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_OfferEngineDBConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=OfferEngineDB;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_PortalConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_portal;UID=sa;pwd=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_ReconConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_recon;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_ReportsConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=LP_Reports;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_ReportServerConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=LP_ReportServer;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_RiskConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_risk;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_SecurityConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD; Initial Catalog=lp_security;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_TransactionsConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_transactions;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="LP_WebsiteConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=lp_websiteConnectionString;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <add name="OrderManagementConnectionString" connectionString="Data Source=devCRMLPCNOCSQLINT1\PROD;Initial Catalog=OrderManagement;user=sa;password=Sp@c3ch@1r" providerName="System.Data.SqlClient"/>
      <!--    LPCNOCSQL9    -->
      <add name="LP_MtM" connectionString="Data Source=LPCNOCSQL9\TRANSACTIONS;Initial Catalog=LP_MtM;user id=MtMWsAccess;password=MtMWsAccess@9" providerName="System.Data.SqlClient"/>
      <!-- Sadiel added these -->
      <add name="IntegrationEntities" connectionString="metadata=res://*/Integration.csdl|res://*/Integration.ssdl|res://*/Integration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devCRMLPCNOCSQLINT1\PROD;initial catalog=integration;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="EnrollmentContainer" connectionString="metadata=res://*/Enrollment.csdl|res://*/Enrollment.ssdl|res://*/Enrollment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devCRMLPCNOCSQLINT1\PROD;initial catalog=lp_enrollment;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="AccountContainer" connectionString="metadata=res://*/Account.csdl|res://*/Account.ssdl|res://*/Account.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devCRMLPCNOCSQLINT1\PROD;initial catalog=lp_account;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="LibertyPowerEntities" connectionString="metadata=res://*/LibertyPower.csdl|res://*/LibertyPower.ssdl|res://*/LibertyPower.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devCRMLPCNOCSQLINT1\PROD;initial catalog=Libertypower;persist security info=True;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="Lp_AccountEntities" connectionString="metadata=res://*/LpAccount.csdl|res://*/LpAccount.ssdl|res://*/LpAccount.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devCRMLPCNOCSQLINT1\PROD;initial catalog=Lp_Account;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="Lp_commonEntities" connectionString="metadata=res://*/LpCommon.csdl|res://*/LpCommon.ssdl|res://*/LpCommon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devCRMLPCNOCSQLINT1\PROD;initial catalog=Lp_common;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="LpDealCaptureEntities" connectionString="metadata=res://*/LpDealCapture.csdl|res://*/LpDealCapture.ssdl|res://*/LpDealCapture.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devCRMLPCNOCSQLINT1\PROD;initial catalog=Lp_deal_capture;user=sa;password=Sp@c3ch@1r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <appSettings>
      <add key="ConnectionStringNameLpTransactions" value="LP_TransactionsConnectionString"/>
      <add key="ConnectionStringNameLpCommons" value="LP_CommonConnectionString"/>
      <add key="ConnectionStringNameECLCloud" value="ECLCloud"/>
    </appSettings>
    <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <system.web>
      <compilation debug="true" targetFramework="4.5"/>
      <httpRuntime/>
      <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="false"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
      </protocolMapping>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    </system.serviceModel>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
      <directoryBrowse enabled="true"/>
    </system.webServer>
  </configuration>