<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
               
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55169/Usage.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpEndpoint" contract="SmucBusinessLayer.UsageServiceWcf.IUsage"
                name="BasicHttpEndpoint" />
            
        </client>
    </system.serviceModel>
</configuration>